workflows/archive/v1/daily-note-creator.json
{
  "name": "📓 Daily Note Creator — 6AM",
  "nodes": [
    {
      "parameters": {
        "content": "## 📓 Daily Note Creator\n\n**Schedule:** 6:00 AM every day\n**Creates:** `Homelab/40_Timeline_Weekly/Daily/YYYY-MM-DD.md` in MinIO\n**Idempotent:** Skips creation if note already exists\n\n### ⚙️ SETUP\n- MinIO credential `MinIO — obsidian-vault` must exist in n8n\n- Remotely Save must be syncing vault ↔ MinIO\n\n### Focus Themes by Day\n| Day | Theme |\n|-----|-------|\n| Mon | Planning & Priorities |\n| Tue/Thu | Deep Work |\n| Wed | Collaboration & Meetings |\n| Fri | Review & Wrap-Up |\n| Sat | Personal & Projects |\n| Sun | Rest & Reflection |",
        "height": 440,
        "width": 380,
        "color": 4
      },
      "id": "sticky-overview",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Day at 6AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use Central Time explicitly so date is correct regardless of server TZ\nconst TZ = 'America/Chicago';\nconst now = new Date();\nconst fmt = (opts) => new Intl.DateTimeFormat('en-US', { timeZone: TZ, ...opts });\nconst year = parseInt(fmt({ year: 'numeric' }).format(now));\nconst month = fmt({ month: '2-digit' }).format(now);\nconst day = fmt({ day: '2-digit' }).format(now);\nconst dateStr = `${year}-${month}-${day}`;\n\nconst dayName = fmt({ weekday: 'long' }).format(now);\n\nconst janFirst = new Date(year, 0, 1);\nconst dayOfYear = Math.ceil((now - janFirst) / 86400000);\nconst weekNumber = Math.ceil((dayOfYear + janFirst.getDay()) / 7);\nconst weekStr = `${year}-W${String(weekNumber).padStart(2, '0')}`;\n\nconst focusThemes = {\n  Monday: 'Planning & Priorities',\n  Tuesday: 'Deep Work',\n  Wednesday: 'Collaboration & Meetings',\n  Thursday: 'Deep Work',\n  Friday: 'Review & Wrap-Up',\n  Saturday: 'Personal & Projects',\n  Sunday: 'Rest & Reflection'\n};\nconst focusTheme = focusThemes[dayName] || 'General';\n\nconst fileKey = `Homelab/40_Timeline_Weekly/Daily/${dateStr}.md`;\n\nreturn [{ json: { dateStr, dayName, weekStr, focusTheme, fileKey, bucket: 'obsidian-vault' } }];"
      },
      "id": "compute-date",
      "name": "Compute Date & File Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "bucketName": "obsidian-vault",
        "fileKey": "={{ $json.fileKey }}",
        "options": {}
      },
      "id": "check-exists",
      "name": "S3: Check If Note Exists",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        700,
        460
      ],
      "credentials": {
        "aws": {
          "id": "__OLD_MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no-binary",
              "leftValue": "={{ Object.keys($json.binary || {}).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "note-missing-check",
      "name": "Note Missing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Read overdue tasks and needle-movers for gate check\n// We'll check the Master Task List for overdue items and Priority A tasks\nconst input = $input.first().json;\nreturn [{ json: { ...input, needsContextRead: true } }];"
      },
      "id": "prepare-context-read",
      "name": "Prepare Context Read",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        540
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "obsidian-vault",
        "fileKey": "Homelab/10_Active Projects/Active Personal/!!! MASTER TASK LIST.md"
      },
      "id": "read-mtl-for-briefing",
      "name": "S3: Read Task List",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1420,
        540
      ],
      "credentials": {
        "aws": {
          "id": "__OLD_MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Gate check: parse MTL for overdue tasks and needle-movers\n// If nothing interesting, skip AI call entirely\nconst dateInfo = $('Compute Date & File Path').first().json;\nconst todayStr = dateInfo.dateStr;\n\nlet mtlContent = '';\ntry {\n  const binary = $input.first().binary;\n  if (binary && binary.data) {\n    mtlContent = Buffer.from(binary.data.data, 'base64').toString('utf-8');\n  }\n} catch (e) { /* no MTL found, that's ok */ }\n\n// Parse overdue tasks\nconst taskRegex = /^\\s*- \\[ \\]\\s+(.+)$/gm;\nconst overdueItems = [];\nconst needleMovers = [];\nlet match;\n\nwhile ((match = taskRegex.exec(mtlContent)) !== null) {\n  const line = match[1];\n  const dueMatch = line.match(/\\[due::\\s*(\\d{4}-\\d{2}-\\d{2})\\s*\\]/);\n  const priorityMatch = line.match(/\\[priority::\\s*([A-C])\\s*\\]/i);\n  const areaMatch = line.match(/\\[area::\\s*(\\w+)\\s*\\]/);\n  \n  const priority = priorityMatch ? priorityMatch[1].toUpperCase() : 'B';\n  \n  if (dueMatch && dueMatch[1] < todayStr) {\n    overdueItems.push({ task: line.substring(0, 80), due: dueMatch[1], area: areaMatch ? areaMatch[1] : 'unknown', priority });\n  }\n  if (priority === 'A') {\n    needleMovers.push({ task: line.substring(0, 80), due: dueMatch ? dueMatch[1] : null, area: areaMatch ? areaMatch[1] : 'unknown' });\n  }\n}\n\nconst hasSignal = overdueItems.length > 0 || needleMovers.length > 0;\n\nreturn [{ json: {\n  hasSignal,\n  overdueItems,\n  needleMovers,\n  overdueCount: overdueItems.length,\n  needleMoverCount: needleMovers.length\n} }];"
      },
      "id": "gate-check",
      "name": "Gate Check: Has Signal?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-signal",
              "leftValue": "={{ $json.hasSignal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-signal",
      "name": "Has Signal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "const gate = $input.first().json;\nconst overdueStr = gate.overdueItems.map(t => `- ${t.task} (${t.area}, ${t.priority}, due ${t.due})`).join('\\n');\nconst nmStr = gate.needleMovers.map(t => `- ${t.task} (${t.area}${t.due ? ', due ' + t.due : ''})`).join('\\n');\n\nconst content = `Overdue tasks (${gate.overdueCount}):\\n${overdueStr || 'None'}\\n\\nNeedle-movers this week (${gate.needleMoverCount}):\\n${nmStr || 'None'}`;\n\nconst SYSTEM = 'You are the AI Brain for Aaron\\'s Life Operating System. Return structured JSON only. Be extremely concise — 50-80 words max for the entire briefing.';\nconst USER = `TASK: Generate a concise daily briefing.\\n\\nReturn JSON:\\n{\"results\": {\"focus_items\": [\"item1\", \"item2\", \"item3\"], \"domain_nudge\": \"string|null\", \"overdue_count\": 0}}\\n\\nCONTENT:\\n${content}`;\n\nreturn [{ json: { systemPrompt: SYSTEM, userMessage: USER } }];"
      },
      "id": "build-brief-prompt",
      "name": "Build Brief Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://github.com/ObsidianHomeOrchestrator"
            },
            {
              "name": "X-Title",
              "value": "Life OS AI Brain"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'meta-llama/llama-3.3-70b-instruct:free', messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userMessage }], temperature: 0.3, max_tokens: 2000 }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "groq-brief",
      "name": "OpenRouter: Llama 3.3 70B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "__OPENROUTER_CRED_ID__",
          "name": "OpenRouter API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\ntry {\n  const content = input.choices[0].message.content;\n  // Strip markdown fences if present (some models add them)\n  const cleaned = content.replace(/^```json\\n?/i, '').replace(/\\n?```$/i, '').trim();\n  const parsed = JSON.parse(cleaned);\n  return [{ json: { success: true, ...parsed, source: 'openrouter' } }];\n} catch (e) {\n  return [{ json: { success: false, error: 'Failed to parse AI response: ' + e.message, raw: JSON.stringify(input).substring(0, 500) } }];\n}"
      },
      "id": "parse-brief",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const { dateStr, dayName, weekStr, focusTheme, fileKey } = $('Compute Date & File Path').first().json;\n\n// Try to get briefing data from AI if it ran\nlet briefSection = '## Today\\'s Focus\\n> Set your top 3 priorities for today.\\n\\n';\ntry {\n  const briefData = $('Parse AI Response').first().json.results || $('Parse AI Response').first().json;\n  if (briefData) {\n    const focusItems = briefData.focus_items || [];\n    const nudge = briefData.domain_nudge;\n    briefSection = '## Today\\'s Focus\\n';\n    if (focusItems.length > 0) {\n      briefSection += `> **${focusItems.length} items need attention today:**\\n`;\n      focusItems.forEach((item, i) => {\n        briefSection += `> ${i + 1}. ${item}\\n`;\n      });\n      if (nudge) {\n        briefSection += `>\\n> *${nudge}*\\n`;\n      }\n    }\n    briefSection += '\\n';\n  }\n} catch (e) { /* no briefing available, use static */ }\n\nconst content = `---\\ndate: ${dateStr}\\nday: ${dayName}\\nweek: ${weekStr}\\nfocus_theme: \"${focusTheme}\"\\ntags:\\n  - daily-note\\n---\\n\\n# ${dayName}, ${dateStr}\\n\\n> **Focus Theme:** ${focusTheme}\\n\\n---\\n\\n${briefSection}---\\n\\n## Top 3 Priorities\\n\\n- [ ] [area:: work] [priority:: A]\\n- [ ] [area:: work] [priority:: A]\\n- [ ] [area:: work] [priority:: A]\\n\\n---\\n\\n## Tasks Captured Today\\n\\n\\n\\n---\\n\\n## Notes\\n\\n\\n\\n---\\n\\n## End of Day Reflection\\n\\n**What went well?**\\n\\n\\n**What could be better?**\\n\\n\\n**Carry forward tomorrow:**\\n\\n- [ ]\\n`;\n\nconst base64 = Buffer.from(content, 'utf-8').toString('base64');\n\nreturn [{\n  json: { fileKey, dateStr, dayName, focusTheme, created: true },\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'text/markdown',\n      fileName: `${dateStr}.md`\n    }\n  }\n}];"
      },
      "id": "build-note",
      "name": "Build Daily Note Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        440
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "={{ $json.fileKey }}",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "upload-note",
      "name": "S3: Upload Daily Note",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        3100,
        440
      ],
      "credentials": {
        "aws": {
          "id": "__OLD_MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { dateStr, fileKey } = $('Compute Date & File Path').first().json;\nconsole.log(`Daily note already exists for ${dateStr} — skipped`);\nreturn [{ json: { skipped: true, dateStr, fileKey, message: `Note already exists: ${dateStr}.md` } }];"
      },
      "id": "already-exists",
      "name": "Already Exists — Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconsole.log(`Daily Note Creator: ${item.message || (item.created ? 'Created' : 'Skipped')} ${item.dateStr}`);\nreturn [{ json: { timestamp: new Date().toISOString(), ...item } }];"
      },
      "id": "log-summary",
      "name": "Log Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3340,
        440
      ]
    }
  ],
  "connections": {
    "Every Day at 6AM": {
      "main": [
        [
          {
            "node": "Compute Date & File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Date & File Path": {
      "main": [
        [
          {
            "node": "S3: Check If Note Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Check If Note Exists": {
      "main": [
        [
          {
            "node": "Note Missing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Note Missing?": {
      "main": [
        [
          {
            "node": "Prepare Context Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Already Exists — Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context Read": {
      "main": [
        [
          {
            "node": "S3: Read Task List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Read Task List": {
      "main": [
        [
          {
            "node": "Gate Check: Has Signal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Check: Has Signal?": {
      "main": [
        [
          {
            "node": "Has Signal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Signal?": {
      "main": [
        [
          {
            "node": "Build Brief Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Daily Note Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Brief Prompt": {
      "main": [
        [
          {
            "node": "OpenRouter: Llama 3.3 70B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter: Llama 3.3 70B": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Build Daily Note Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Note Content": {
      "main": [
        [
          {
            "node": "S3: Upload Daily Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Upload Daily Note": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Exists — Skip": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "America/Chicago"
  },
  "tags": [
    {
      "name": "obsidian",
      "id": "obsidian-tag"
    },
    {
      "name": "daily-note",
      "id": "daily-note-tag"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-28T00:00:00.000Z",
  "versionId": "3"
}