workflows/brain-dump-processor.json
{
  "name": "Brain Dump Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 460],
      "notes": "Polls every 5 minutes for new brain dumps in 00_Inbox/brain-dumps/"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// SCAN FOR UNPROCESSED BRAIN DUMPS\n// Reads all .md files in 00_Inbox/brain-dumps/ and returns\n// up to 5 files that have \"processed: false\" in frontmatter.\n// ─────────────────────────────────────────────────────────────\nconst fs = require('fs');\nconst path = require('path');\n\nconst vaultPath = $env.OBSIDIAN_VAULT_PATH || 'C:/Users/Admin/Desktop/Desktop Folders/Obsidian/Homelab';\nconst brainDumpDir = path.join(vaultPath, '00_Inbox', 'brain-dumps');\n\n// Ensure directory exists\nif (!fs.existsSync(brainDumpDir)) {\n  return [{ json: { files: [], count: 0, message: 'brain-dumps directory does not exist' } }];\n}\n\nconst allFiles = fs.readdirSync(brainDumpDir)\n  .filter(f => f.endsWith('.md'))\n  .map(f => path.join(brainDumpDir, f));\n\nconst unprocessed = [];\n\nfor (const filePath of allFiles) {\n  if (unprocessed.length >= 5) break;\n\n  try {\n    const content = fs.readFileSync(filePath, 'utf8');\n    // Check frontmatter for processed: false\n    const fmMatch = content.match(/^---\\n([\\s\\S]*?)\\n---/);\n    if (fmMatch) {\n      const frontmatter = fmMatch[1];\n      if (/processed:\\s*false/.test(frontmatter)) {\n        unprocessed.push({\n          filePath: filePath,\n          fileName: path.basename(filePath)\n        });\n      }\n    }\n  } catch (err) {\n    // Skip files that can't be read\n    continue;\n  }\n}\n\nif (unprocessed.length === 0) {\n  return [{ json: { files: [], count: 0, message: 'No unprocessed brain dumps found' } }];\n}\n\nreturn unprocessed.map(f => ({ json: f }));"
      },
      "id": "scan-brain-dumps",
      "name": "Scan Brain Dumps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 460],
      "notes": "Scans 00_Inbox/brain-dumps/ for .md files with 'processed: false' in frontmatter. Returns max 5 per cycle to avoid overload."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-files",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-has-files",
      "name": "Has Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [700, 460],
      "notes": "Guards against empty runs. If count=0, exits early (no work to do)."
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// READ FILE CONTENT\n// Reads the brain dump file, separates frontmatter from body.\n// ─────────────────────────────────────────────────────────────\nconst fs = require('fs');\n\nconst filePath = $input.item.json.filePath;\nconst fileName = $input.item.json.fileName;\n\ntry {\n  const content = fs.readFileSync(filePath, 'utf8');\n\n  // Split frontmatter from body\n  const parts = content.split('---');\n  // parts[0] = '' (before first ---)\n  // parts[1] = frontmatter content\n  // parts[2..] = body content\n  const frontmatter = parts.length > 1 ? parts[1].trim() : '';\n  const body = parts.length > 2 ? parts.slice(2).join('---').trim() : '';\n\n  if (!body || body.length < 10) {\n    return [{\n      json: {\n        filePath,\n        fileName,\n        frontmatter,\n        body: '',\n        error: true,\n        errorMessage: 'Brain dump body is empty or too short (less than 10 chars)'\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      filePath,\n      fileName,\n      frontmatter,\n      body,\n      error: false\n    }\n  }];\n} catch (err) {\n  return [{\n    json: {\n      filePath,\n      fileName,\n      error: true,\n      errorMessage: `Failed to read file: ${err.message}`\n    }\n  }];\n}"
      },
      "id": "read-file",
      "name": "Read File Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 360],
      "notes": "Reads the .md file, extracts frontmatter and body (everything after the second ---). Passes error flag if file is unreadable or empty."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "read-ok",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "read-success-check",
      "name": "Read OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1160, 360],
      "notes": "Routes files that failed to read to the error handler branch."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are a productivity assistant for Aaron. Aaron is a BAM (Business Applications Manager) at Parallon (HCA Healthcare's shared services company). He is also an AI consultant building a consulting practice, has business venture ideas, is a man of faith, and prioritizes health and biohacking.\\n\\nYour job is to process his brain dumps into structured tasks and notes.\\n\\nLife areas (use these EXACT values):\\n- work: Parallon day job tasks\\n- consulting: AI consulting clients and business\\n- business: business startup ideas and projects\\n- personal: home, family, personal life\\n- faith: Bible study, church, spiritual\\n- health: fitness, biohacking, medical\\n\\nPriorities (use these EXACT values):\\n- A: urgent/important, do today or this week\\n- B: important but not urgent, do this week or next\\n- C: nice to have, backlog\\n\\nRespond with ONLY valid JSON in this exact format:\\n{\\n  \\\"tasks\\\": [\\n    {\\n      \\\"title\\\": \\\"Short actionable task description\\\",\\n      \\\"area\\\": \\\"work|consulting|business|personal|faith|health\\\",\\n      \\\"priority\\\": \\\"A|B|C\\\",\\n      \\\"due\\\": \\\"YYYY-MM-DD or null\\\",\\n      \\\"context\\\": \\\"Optional one-line context for why this matters\\\"\\n    }\\n  ],\\n  \\\"notes\\\": [\\n    {\\n      \\\"title\\\": \\\"Note title\\\",\\n      \\\"area\\\": \\\"work|consulting|business|personal|faith|health\\\",\\n      \\\"content\\\": \\\"The note content in markdown format. Can be multi-line.\\\"\\n    }\\n  ]\\n}\\n\\nRules:\\n1. Every brain dump should produce at least one task OR one note\\n2. Be specific in task titles — make them actionable\\n3. Infer the area from context clues\\n4. If a due date is mentioned or implied, include it\\n5. Notes are for reference material, ideas, or information that is not a task\\n6. Do NOT wrap the JSON in markdown code fences\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Process this brain dump into tasks and notes:\\n\\n{{ $json.body }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "call-claude-api",
      "name": "Claude API - Process Brain Dump",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 260],
      "notes": "Sends the brain dump body to Claude claude-sonnet-4-6 with Aaron's context as system prompt. Expects JSON response with tasks[] and notes[] arrays. Uses ANTHROPIC_API_KEY env var.",
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// PARSE AND VALIDATE CLAUDE'S RESPONSE\n// Extracts JSON from the API response, validates structure,\n// whitelists area and priority values.\n// ─────────────────────────────────────────────────────────────\nconst VALID_AREAS = ['work', 'consulting', 'business', 'personal', 'faith', 'health'];\nconst VALID_PRIORITIES = ['A', 'B', 'C'];\n\nconst filePath = $('Read File Content').item.json.filePath;\nconst fileName = $('Read File Content').item.json.fileName;\n\ntry {\n  const response = $input.item.json;\n\n  // Handle HTTP error status\n  if (response.statusCode && response.statusCode >= 400) {\n    return [{\n      json: {\n        filePath,\n        fileName,\n        error: true,\n        errorMessage: `Claude API returned HTTP ${response.statusCode}: ${JSON.stringify(response.body || {})}`\n      }\n    }];\n  }\n\n  // Extract text content from Claude API response\n  const body = response.body || response;\n  let textContent = '';\n\n  if (body.content && Array.isArray(body.content)) {\n    const textBlock = body.content.find(c => c.type === 'text');\n    textContent = textBlock ? textBlock.text : '';\n  } else if (typeof body === 'string') {\n    textContent = body;\n  } else {\n    textContent = JSON.stringify(body);\n  }\n\n  // Strip markdown code fences if present\n  textContent = textContent.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n\n  // Parse JSON\n  let parsed;\n  try {\n    parsed = JSON.parse(textContent);\n  } catch (parseErr) {\n    // Try to find JSON object in the text\n    const jsonMatch = textContent.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsed = JSON.parse(jsonMatch[0]);\n    } else {\n      throw new Error(`Could not parse JSON from Claude response: ${textContent.substring(0, 200)}`);\n    }\n  }\n\n  // Validate structure\n  if (!parsed.tasks && !parsed.notes) {\n    throw new Error('Response missing both tasks and notes arrays');\n  }\n\n  const tasks = Array.isArray(parsed.tasks) ? parsed.tasks : [];\n  const notes = Array.isArray(parsed.notes) ? parsed.notes : [];\n\n  // Validate and sanitize tasks\n  const validatedTasks = tasks\n    .filter(t => t.title && typeof t.title === 'string')\n    .map(t => ({\n      title: t.title.trim(),\n      area: VALID_AREAS.includes(t.area) ? t.area : 'personal',\n      priority: VALID_PRIORITIES.includes(t.priority) ? t.priority : 'B',\n      due: t.due && /^\\d{4}-\\d{2}-\\d{2}$/.test(t.due) ? t.due : null,\n      context: t.context || null\n    }));\n\n  // Validate and sanitize notes\n  const validatedNotes = notes\n    .filter(n => n.title && typeof n.title === 'string' && n.content)\n    .map(n => ({\n      title: n.title.trim(),\n      area: VALID_AREAS.includes(n.area) ? n.area : 'personal',\n      content: n.content.trim()\n    }));\n\n  if (validatedTasks.length === 0 && validatedNotes.length === 0) {\n    throw new Error('No valid tasks or notes after validation');\n  }\n\n  return [{\n    json: {\n      filePath,\n      fileName,\n      tasks: validatedTasks,\n      notes: validatedNotes,\n      taskCount: validatedTasks.length,\n      noteCount: validatedNotes.length,\n      error: false\n    }\n  }];\n\n} catch (err) {\n  return [{\n    json: {\n      filePath,\n      fileName,\n      error: true,\n      errorMessage: `Parse/validation error: ${err.message}`\n    }\n  }];\n}"
      },
      "id": "parse-response",
      "name": "Parse & Validate Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 260],
      "notes": "Parses Claude's JSON response, strips code fences if present, validates structure, whitelists area values (work/consulting/business/personal/faith/health) and priorities (A/B/C). Falls back to 'personal' area and 'B' priority for invalid values."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "parse-ok",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "parse-success-check",
      "name": "Parse OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1880, 260],
      "notes": "Routes parse failures to error handler. Successful parses continue to file writing."
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// WRITE TASK FILES & NOTE FILES\n// Creates individual task files in 00_Inbox/processed/\n// Creates note files in the appropriate domain folder.\n// Then marks the original brain dump as processed.\n// ─────────────────────────────────────────────────────────────\nconst fs = require('fs');\nconst path = require('path');\n\nconst vaultPath = $env.OBSIDIAN_VAULT_PATH || 'C:/Users/Admin/Desktop/Desktop Folders/Obsidian/Homelab';\n\nconst data = $input.item.json;\nconst { filePath, fileName, tasks, notes } = data;\n\n// Area-to-folder mapping for notes\nconst AREA_FOLDER_MAP = {\n  'work': '20_Domains (Life and Work)/Career/Parallon',\n  'consulting': '20_Domains (Life and Work)/Career/Consulting',\n  'business': '20_Domains (Life and Work)/Personal/Business Ideas & Projects',\n  'personal': '20_Domains (Life and Work)/Personal',\n  'faith': '30_Knowledge Library/Bible Studies & Notes',\n  'health': '30_Knowledge Library/Biohacking'\n};\n\nconst now = new Date();\nconst datePrefix = now.toISOString().slice(0, 10);\nconst timePrefix = now.toISOString().slice(11, 16).replace(':', '');\nconst timestamp = `${datePrefix}T${now.toISOString().slice(11, 19)}`;\n\n// Helper: create slug from title\nfunction slugify(text) {\n  return text\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '')\n    .substring(0, 50);\n}\n\n// Helper: ensure directory exists\nfunction ensureDir(dirPath) {\n  if (!fs.existsSync(dirPath)) {\n    fs.mkdirSync(dirPath, { recursive: true });\n  }\n}\n\nconst results = {\n  tasksWritten: 0,\n  notesWritten: 0,\n  errors: []\n};\n\n// ── WRITE TASK FILES ────────────────────────────────────────\nconst processedDir = path.join(vaultPath, '00_Inbox', 'processed');\nensureDir(processedDir);\n\nfor (let i = 0; i < tasks.length; i++) {\n  const task = tasks[i];\n  const slug = slugify(task.title);\n  const taskFileName = `${datePrefix}-${timePrefix}-task-${slug}.md`;\n  const taskFilePath = path.join(processedDir, taskFileName);\n\n  // Build task line with inline fields\n  let taskLine = `- [ ] ${task.title} [area:: ${task.area}] [priority:: ${task.priority}]`;\n  if (task.due) {\n    taskLine += ` [due:: ${task.due}]`;\n  }\n\n  // Build file content\n  let content = '---\\n';\n  content += 'type: processed-task\\n';\n  content += 'source: brain-dump\\n';\n  content += `source_file: ${fileName}\\n`;\n  content += `created: ${timestamp}\\n`;\n  content += '---\\n\\n';\n  content += taskLine + '\\n';\n  if (task.context) {\n    content += `\\n> ${task.context}\\n`;\n  }\n\n  try {\n    fs.writeFileSync(taskFilePath, content, 'utf8');\n    results.tasksWritten++;\n  } catch (err) {\n    results.errors.push(`Failed to write task file ${taskFileName}: ${err.message}`);\n  }\n}\n\n// ── WRITE NOTE FILES ────────────────────────────────────────\nfor (let i = 0; i < notes.length; i++) {\n  const note = notes[i];\n  const slug = slugify(note.title);\n  const noteFileName = `${datePrefix}-${timePrefix}-${slug}.md`;\n  const areaFolder = AREA_FOLDER_MAP[note.area] || AREA_FOLDER_MAP['personal'];\n  const noteDir = path.join(vaultPath, areaFolder);\n  ensureDir(noteDir);\n  const noteFilePath = path.join(noteDir, noteFileName);\n\n  let content = '---\\n';\n  content += 'type: processed-note\\n';\n  content += 'source: brain-dump\\n';\n  content += `source_file: ${fileName}\\n`;\n  content += `area: ${note.area}\\n`;\n  content += `created: ${timestamp}\\n`;\n  content += '---\\n\\n';\n  content += `# ${note.title}\\n\\n`;\n  content += note.content + '\\n';\n\n  try {\n    fs.writeFileSync(noteFilePath, content, 'utf8');\n    results.notesWritten++;\n  } catch (err) {\n    results.errors.push(`Failed to write note file ${noteFileName}: ${err.message}`);\n  }\n}\n\n// ── MARK ORIGINAL FILE AS PROCESSED ─────────────────────────\ntry {\n  let originalContent = fs.readFileSync(filePath, 'utf8');\n  originalContent = originalContent.replace(\n    /processed:\\s*false/,\n    `processed: true\\nprocessed_at: ${timestamp}`\n  );\n  fs.writeFileSync(filePath, originalContent, 'utf8');\n} catch (err) {\n  results.errors.push(`Failed to mark original as processed: ${err.message}`);\n}\n\nreturn [{\n  json: {\n    filePath,\n    fileName,\n    tasksWritten: results.tasksWritten,\n    notesWritten: results.notesWritten,\n    writeErrors: results.errors,\n    success: results.errors.length === 0\n  }\n}];"
      },
      "id": "write-files",
      "name": "Write Tasks & Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 160],
      "notes": "Writes individual task files to 00_Inbox/processed/ with proper frontmatter and inline Dataview fields. Writes note files to domain-specific folders based on area mapping. Marks original brain dump as processed: true with timestamp."
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// ERROR HANDLER: Mark file as processed: error\n// Updates the original brain dump file frontmatter to indicate\n// processing failed, so it is not retried endlessly.\n// ─────────────────────────────────────────────────────────────\nconst fs = require('fs');\n\nconst filePath = $input.item.json.filePath;\nconst fileName = $input.item.json.fileName;\nconst errorMessage = $input.item.json.errorMessage || 'Unknown error';\n\nconst now = new Date();\nconst timestamp = `${now.toISOString().slice(0, 10)}T${now.toISOString().slice(11, 19)}`;\n\ntry {\n  let content = fs.readFileSync(filePath, 'utf8');\n  content = content.replace(\n    /processed:\\s*false/,\n    `processed: error\\nprocessed_at: ${timestamp}\\nerror_message: \"${errorMessage.replace(/\"/g, \"'\")}\"`\n  );\n  fs.writeFileSync(filePath, content, 'utf8');\n} catch (err) {\n  // If we can't even write the error status, log it\n  console.error(`Failed to mark ${fileName} as error: ${err.message}`);\n}\n\nreturn [{\n  json: {\n    filePath,\n    fileName,\n    errorMessage,\n    markedAsError: true,\n    timestamp\n  }\n}];"
      },
      "id": "mark-error",
      "name": "Mark as Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 520],
      "notes": "Error handler: marks the original brain dump with 'processed: error' and error_message in frontmatter. Prevents infinite retry loops."
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// COMPLETION SUMMARY LOG\n// Aggregates results from all processed files in this cycle.\n// ─────────────────────────────────────────────────────────────\nconst items = $input.all();\n\nlet totalTasks = 0;\nlet totalNotes = 0;\nlet successCount = 0;\nlet errorCount = 0;\nconst details = [];\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.success !== undefined) {\n    // From Write Tasks & Notes node\n    totalTasks += d.tasksWritten || 0;\n    totalNotes += d.notesWritten || 0;\n    if (d.success) successCount++;\n    else errorCount++;\n    details.push({\n      file: d.fileName,\n      tasks: d.tasksWritten,\n      notes: d.notesWritten,\n      status: d.success ? 'success' : 'partial'\n    });\n  } else if (d.markedAsError) {\n    // From error handler\n    errorCount++;\n    details.push({\n      file: d.fileName,\n      status: 'error',\n      error: d.errorMessage\n    });\n  }\n}\n\nconst summary = {\n  timestamp: new Date().toISOString(),\n  filesProcessed: successCount + errorCount,\n  successCount,\n  errorCount,\n  totalTasksCreated: totalTasks,\n  totalNotesCreated: totalNotes,\n  details\n};\n\nconsole.log(`Brain Dump Processor: ${summary.filesProcessed} files processed (${successCount} ok, ${errorCount} errors). ${totalTasks} tasks, ${totalNotes} notes created.`);\n\nreturn [{ json: summary }];"
      },
      "id": "completion-summary",
      "name": "Log Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2380, 340],
      "notes": "Aggregates all results from this processing cycle and logs a summary: files processed, tasks created, notes created, errors encountered."
    },
    {
      "parameters": {
        "content": "## Brain Dump Processor\n\n**Schedule:** Every 5 minutes\n**Source:** `00_Inbox/brain-dumps/*.md`\n**Condition:** `processed: false` in frontmatter\n**Max per cycle:** 5 files\n\n### Environment Variables Required\n- `OBSIDIAN_VAULT_PATH` — Path to Obsidian vault root\n- `ANTHROPIC_API_KEY` — Claude API key\n\n### Flow\n1. Scan for unprocessed brain dumps\n2. Read each file, extract body\n3. Send to Claude API for processing\n4. Parse & validate JSON response\n5. Write task files to `00_Inbox/processed/`\n6. Write note files to domain folders\n7. Mark original as `processed: true`\n\n### Error Handling\n- Files that fail are marked `processed: error`\n- Errors include the error_message in frontmatter\n- Failed files are NOT retried automatically",
        "height": 580,
        "width": 420,
        "color": 4
      },
      "id": "sticky-overview",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-60, 220]
    },
    {
      "parameters": {
        "content": "### 1. TRIGGER & SCAN\nPolls every 5 min, finds unprocessed brain dumps (max 5 per cycle).\nUses `$env.OBSIDIAN_VAULT_PATH` for vault location.",
        "height": 200,
        "width": 480,
        "color": 6
      },
      "id": "sticky-trigger",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 640]
    },
    {
      "parameters": {
        "content": "### 2. READ & VALIDATE\nExtracts body content (after 2nd `---`). Routes empty/unreadable files to error handler.",
        "height": 160,
        "width": 380,
        "color": 6
      },
      "id": "sticky-read",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, 540]
    },
    {
      "parameters": {
        "content": "### 3. CLAUDE API\nSends brain dump body to `claude-sonnet-4-6` with Aaron's full context as system prompt. Expects JSON with `tasks[]` and `notes[]`. Retries once on failure.",
        "height": 160,
        "width": 380,
        "color": 7
      },
      "id": "sticky-claude",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1360, 440]
    },
    {
      "parameters": {
        "content": "### 4. PARSE & WRITE\nValidates JSON structure, whitelists areas and priorities. Writes task files with Dataview inline fields. Routes notes to domain folders by area mapping.",
        "height": 160,
        "width": 380,
        "color": 6
      },
      "id": "sticky-parse",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1600, 440]
    },
    {
      "parameters": {
        "content": "### ERROR BRANCH\nMarks failed files as `processed: error` with `error_message` in frontmatter. Prevents infinite retry loops.",
        "height": 140,
        "width": 340,
        "color": 2
      },
      "id": "sticky-error",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2080, 680]
    },
    {
      "parameters": {
        "content": "### 5. SUMMARY\nAggregates results: files processed, tasks/notes created, errors. Logs to n8n execution log.",
        "height": 140,
        "width": 280,
        "color": 5
      },
      "id": "sticky-summary",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2340, 500]
    },
    {
      "parameters": {
        "content": "### Area → Folder Mapping\n| Area | Vault Folder |\n|------|-------------|\n| work | `20_Domains/Career/Parallon/` |\n| consulting | `20_Domains/Career/Consulting/` |\n| business | `20_Domains/Personal/Business Ideas & Projects/` |\n| personal | `20_Domains/Personal/` |\n| faith | `30_Knowledge Library/Bible Studies & Notes/` |\n| health | `30_Knowledge Library/Biohacking/` |",
        "height": 280,
        "width": 420,
        "color": 3
      },
      "id": "sticky-mapping",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-60, 820]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Scan Brain Dumps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Brain Dumps": {
      "main": [
        [
          {
            "node": "Has Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Files?": {
      "main": [
        [
          {
            "node": "Read File Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Read File Content": {
      "main": [
        [
          {
            "node": "Read OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read OK?": {
      "main": [
        [
          {
            "node": "Claude API - Process Brain Dump",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API - Process Brain Dump": {
      "main": [
        [
          {
            "node": "Parse & Validate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Response": {
      "main": [
        [
          {
            "node": "Parse OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OK?": {
      "main": [
        [
          {
            "node": "Write Tasks & Notes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Tasks & Notes": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Error": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "obsidian",
      "id": "obsidian-tag"
    },
    {
      "name": "brain-dump",
      "id": "brain-dump-tag"
    },
    {
      "name": "automation",
      "id": "automation-tag"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-21T00:00:00.000Z",
  "versionId": "1"
}