workflows/n8n/brain-dump-processor.json
{
  "name": "🧠 Brain Dump Processor — Daily 7AM",
  "nodes": [
    {
      "parameters": {
        "content": "## 🧠 Brain Dump Processor\n\n**Schedule:** 7:00 AM daily\n**Source:** MinIO `obsidian-vault` bucket, 8 brain dump files\n**Output:** Tasks appended to Master Task List; brain dumps cleared; digest email sent\n\n### ⚙️ SETUP REQUIRED BEFORE FIRST RUN\n1. **MinIO S3 credential** in n8n → Settings → Credentials:\n   - Name: `MinIO — obsidian-vault`\n   - Type: AWS\n   - Region: `us-east-1`\n   - Access Key: (from .env MINIO_ACCESS_KEY)\n   - Secret: (from .env MINIO_SECRET_KEY)\n   - Custom Endpoint: http://192.168.1.240:9000\n   - Force path style: ✅\n2. **SMTP credential** in n8n → Settings → Credentials:\n   - Name: `Gmail SMTP`\n   - Type: SMTP\n   - Host/Port: smtp.gmail.com:587\n   - User: aaron.deyoung@gmail.com\n   - Password: Gmail App Password\n3. **Verify** Remotely Save syncs to `obsidian-vault` bucket\n4. **Verify** 8 brain dump files exist in vault with `domain:` frontmatter\n5. Toggle workflow **Active**\n\n### Brain Dump File → Domain Map\n| File | Domain |\n|------|--------|\n| BrainDump — Faith.md | Faith |\n| BrainDump — Family.md | Family |\n| BrainDump — Business (Echelon Seven).md | Business |\n| BrainDump — Consulting.md | Consulting |\n| BrainDump — Work (Parallon).md | Work |\n| BrainDump — Health.md | Health |\n| BrainDump — Home.md | Home |\n| BrainDump — Personal.md | Personal |",
        "height": 820,
        "width": 480,
        "color": 4
      },
      "id": "sticky-overview",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Day at 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the list of 8 brain dump file configs\nconst BUCKET = 'obsidian-vault';\nconst PREFIX = 'Homelab';\n\nconst domains = [\n  { domain: 'Faith',     area: 'faith',     emoji: '🙏', rock: 'Launch the Social Media Bible Study',      file: 'BrainDump — Faith.md' },\n  { domain: 'Family',    area: 'family',    emoji: '💒', rock: 'Marriage Alignment with Christy',           file: 'BrainDump — Family.md' },\n  { domain: 'Business',  area: 'business',  emoji: '🚀', rock: 'Ship the MVP — Echelon Seven',              file: 'BrainDump — Business (Echelon Seven).md' },\n  { domain: 'Consulting',area: 'consulting',emoji: '💼', rock: null,                                        file: 'BrainDump — Consulting.md' },\n  { domain: 'Work',      area: 'work',      emoji: '🏥', rock: 'Deliver Union Project + Position for Exit', file: 'BrainDump — Work (Parallon).md' },\n  { domain: 'Health',    area: 'health',    emoji: '💪', rock: 'Hip Decision + 3x/week Gym for 8 Weeks',   file: 'BrainDump — Health.md' },\n  { domain: 'Home',      area: 'home',      emoji: '🏠', rock: null,                                        file: 'BrainDump — Home.md' },\n  { domain: 'Personal',  area: 'personal',  emoji: '🤖', rock: null,                                        file: 'BrainDump — Personal.md' }\n];\n\nreturn domains.map(d => ({\n  json: {\n    ...d,\n    bucket: BUCKET,\n    fileKey: `${PREFIX}/00_Inbox/brain-dumps/${d.file}`\n  }\n}));"
      },
      "id": "define-files",
      "name": "Define Brain Dump Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        460
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-read",
      "name": "Loop: Read Each File",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        940,
        460
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "bucketName": "={{ $json.bucket }}",
        "fileKey": "={{ $json.fileKey }}",
        "options": {}
      },
      "id": "s3-download-dump",
      "name": "S3: Download Brain Dump",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1180,
        360
      ],
      "credentials": {
        "aws": {
          "id": "jscahbrUH2TCnnSx",
          "name": "MinIO S3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract text content from the S3 binary download, merge with metadata from loop\nconst loopItem = $('Loop: Read Each File').item.json;\nconst binaryKey = Object.keys($input.item.binary || {})[0] || 'data';\nconst binaryData = $input.item.binary?.[binaryKey];\n\nlet fileContent = '';\nif (binaryData?.data) {\n  fileContent = Buffer.from(binaryData.data, 'base64').toString('utf-8');\n}\n\n// Check if download failed (no content = file probably doesn't exist yet)\nconst hasContent = fileContent.trim().length > 10;\n\nreturn [{\n  json: {\n    ...loopItem,\n    rawContent: fileContent,\n    downloadSuccess: hasContent\n  }\n}];"
      },
      "id": "extract-text",
      "name": "Extract Text from Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        560
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect items across loop iterations using staticData.\n// Guard: if collected has stale data from a prior failed run, check timestamp.\nconst item = $input.item.json;\nconst state = $workflow.staticData;\n\n// Initialize or reset stale data (>2h old = stale from a failed prior run)\nconst now = Date.now();\nif (!state.collected || !state.collectedAt || (now - state.collectedAt) > 7200000) {\n  state.collected = [];\n}\nstate.collectedAt = now;\n\nif (item.downloadSuccess !== false) {\n  state.collected.push(item);\n}\n\nreturn [{ json: item }];"
      },
      "id": "accumulate",
      "name": "Accumulate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all accumulated brain dump content\nconst state = $workflow.staticData;\nconst files = state.collected || [];\n\n// Clear for next run\nstate.collected = [];\n\nlet allContent = '';\n\nfor (const item of files) {\n  const dumps = [item];\n  for (const dump of dumps) {\n    if (dump.rawContent && dump.rawContent.trim().length > 10) {\n      allContent += `\\n--- ${dump.domain} (${dump.area}) ---\\n${dump.rawContent}\\n`;\n    }\n  }\n}\n\nif (!allContent.trim()) {\n  return [{ json: { hasContent: false, results: [], allContent: '' } }];\n}\n\nreturn [{ json: { hasContent: true, allContent: allContent.trim() } }];"
      },
      "id": "parse-analyze",
      "name": "Parse & Analyze All",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-content",
              "leftValue": "={{ $json.hasContent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-content",
      "name": "Has Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1420,
        760
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nif (!input.hasContent) {\n  return [{ json: { success: false, skip: true } }];\n}\n\nconst SYSTEM_PROMPT = 'You are the AI Brain for Aaron\\'s Life Operating System. You process personal knowledge management content and return structured JSON only.\\n\\nCONTEXT:\\n- 8 life domains: faith, family, business, consulting, work, health, home, personal\\n- Task format: - [ ] Description [area:: X] [priority:: A/B/C] [due:: YYYY-MM-DD]\\n- Priority A = needle-mover (advances North Star quarterly rocks or annual goals)\\n- Priority B = important but not a needle-mover\\n- Priority C = nice-to-have\\n\\nNEEDLE-MOVER DEFINITION:\\nA needle-mover directly advances one of Aaron\\'s quarterly rocks or annual goals. Urgent != important. \"Reply to Slack\" is not a needle-mover. \"Draft Echelon Seven offer page\" is.\\n\\nQUARTERLY ROCKS:\\n- Faith: Launch the Social Media Bible Study\\n- Family: Marriage Alignment with Christy\\n- Business: Ship the MVP — Echelon Seven\\n- Work: Deliver Union Project + Position for Exit\\n- Health: Hip Decision + 3x/week Gym for 8 Weeks\\n\\nRULES:\\n- Return valid JSON only. No markdown fences. No explanatory text. Just the JSON object.\\n- Be concise. Summaries are 3-4 sentences max.\\n- Rewrite raw shorthand into clear, complete sentences that future-Aaron can understand in 2 weeks.\\n- When content crosses domains (e.g., \"pray about consulting deal\"), tag the primary area and list secondary in connections array.\\n- If uncertain about area, default to personal. If uncertain about priority, default to B.';\n\nconst USER_MSG = 'TASK: Classify this brain dump content into structured items.\\n\\nFor each item found, determine its type:\\n- \"task\" — an actionable to-do with a clear completion state\\n- \"note\" — information, thought, or reference to file away\\n- \"article\" — a URL or article reference to read/summarize later\\n- \"decision\" — something requiring deliberation with pros/cons (always Priority A)\\n\\nReturn JSON:\\n{\"results\": [{\"type\": \"task|note|article|decision\", \"title\": \"string\", \"content\": \"string\", \"area\": \"string\", \"priority\": \"A|B|C\", \"needle_mover\": true|false, \"due\": \"YYYY-MM-DD|null\", \"connections\": [], \"url\": \"string|null\", \"source_domain\": \"string\"}]}\\n\\nCONTENT:\\n' + input.allContent;\n\nreturn [{ json: { systemPrompt: SYSTEM_PROMPT, userMessage: USER_MSG } }];"
      },
      "id": "build-ai-prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userMessage }], temperature: 0.3, max_tokens: 2000, response_format: { type: 'json_object' } }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "groq-classify",
      "name": "Groq: Classify Brain Dump",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GROQ_CREDENTIAL_ID",
          "name": "Groq API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "has-choices", "leftValue": "={{ $json.choices }}", "rightValue": "", "operator": { "type": "exists", "operation": "exists" } }
          ],
          "combinator": "and"
        }
      },
      "id": "groq-classify-ok",
      "name": "Groq OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2140,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $('Build AI Prompt').item.json.systemPrompt + '\\n\\n' + $('Build AI Prompt').item.json.userMessage }] }], generationConfig: { temperature: 0.3, maxOutputTokens: 2000, responseMimeType: 'application/json' } }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "gemini-classify-fallback",
      "name": "Gemini Fallback: Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        700
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM response (Groq format)\nconst input = $input.first().json;\ntry {\n  const content = input.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  return [{ json: { success: true, results: parsed.results || [], source: 'groq' } }];\n} catch (e) {\n  return [{ json: { success: false, error: e.message, results: [] } }];\n}"
      },
      "id": "parse-groq-classify",
      "name": "Parse Groq Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM response (Gemini format)\nconst input = $input.first().json;\ntry {\n  let text = input.candidates[0].content.parts[0].text;\n  text = text.replace(/^```json\\n?/i, '').replace(/\\n?```$/i, '').trim();\n  const parsed = JSON.parse(text);\n  return [{ json: { success: true, results: parsed.results || [], source: 'gemini' } }];\n} catch (e) {\n  return [{ json: { success: false, error: e.message, results: [] } }];\n}"
      },
      "id": "parse-gemini-classify",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Route AI-classified items to their destinations\nconst input = $input.first().json;\nconst results = input.results || [];\nconst BUCKET = 'obsidian-vault';\nconst PREFIX = 'Homelab';\n\nconst TZ = 'America/Chicago';\nconst now = new Date();\nconst fmt = (opts) => new Intl.DateTimeFormat('en-US', { timeZone: TZ, ...opts });\nconst y = parseInt(fmt({ year: 'numeric' }).format(now));\nconst m = fmt({ month: '2-digit' }).format(now);\nconst d = fmt({ day: '2-digit' }).format(now);\nconst hh = fmt({ hour: '2-digit', hour12: false }).format(now).padStart(2, '0');\nconst mm = fmt({ minute: '2-digit' }).format(now).padStart(2, '0');\nconst dateStr = `${y}-${m}-${d}`;\nconst timeStr = `${hh}${mm}`;\n\nconst AREA_FOLDER_MAP = {\n  faith: '30_Knowledge Library/Bible Studies & Notes',\n  family: '20_Domains (Life and Work)/Personal/Family',\n  business: '20_Domains (Life and Work)/Personal/Business Ideas & Projects',\n  consulting: '20_Domains (Life and Work)/Career/Consulting',\n  work: '20_Domains (Life and Work)/Career/Parallon',\n  health: '30_Knowledge Library/Biohacking',\n  home: '20_Domains (Life and Work)/Personal/Home',\n  personal: '20_Domains (Life and Work)/Personal'\n};\n\nconst filesToUpload = [];\nconst articleUrls = [];\nlet itemIndex = 0;\n\nfor (const item of results) {\n  itemIndex++;\n  const slug = (item.title || 'item').toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 40);\n  const area = item.area || 'personal';\n  const priority = item.needle_mover ? 'A' : (item.priority || 'B');\n  const connections = (item.connections || []).filter(c => c !== area);\n  const connectionsStr = connections.length > 0 ? `\\nconnections: [${connections.join(', ')}]` : '';\n\n  if (item.type === 'task' || item.type === 'decision') {\n    const dueStr = item.due ? ` [due:: ${item.due}]` : '';\n    const typeLabel = item.type === 'decision' ? 'decision' : 'processed-task';\n\n    let body = '';\n    if (item.type === 'decision') {\n      body = `- [ ] ${item.title} [area:: ${area}] [priority:: A]${dueStr}\\n\\n## Context\\n${item.content}\\n\\n## Pros\\n- \\n\\n## Cons\\n- \\n\\n## Decision\\n*Pending*`;\n    } else {\n      body = `- [ ] ${item.title} [area:: ${area}] [priority:: ${priority}]${dueStr}\\n\\n${item.content || ''}`;\n    }\n\n    const content = `---\\ncreated: ${new Date().toISOString()}\\ntype: ${typeLabel}\\nsource: brain-dump\\nneedle_mover: ${item.needle_mover || false}${connectionsStr}\\n---\\n\\n${body.trim()}\\n`;\n\n    filesToUpload.push({\n      bucket: BUCKET,\n      fileKey: `${PREFIX}/00_Inbox/processed/${dateStr}-${timeStr}-${slug}.md`,\n      content: content,\n      label: `${item.type}: ${item.title}`\n    });\n  } else if (item.type === 'note') {\n    const folder = AREA_FOLDER_MAP[area] || AREA_FOLDER_MAP.personal;\n    const content = `---\\ncreated: ${new Date().toISOString()}\\ntype: brain-dump-note\\nsource: brain-dump\\narea: ${area}\\nneedle_mover: ${item.needle_mover || false}${connectionsStr}\\n---\\n\\n# ${item.title}\\n\\n${item.content || ''}\\n`;\n\n    filesToUpload.push({\n      bucket: BUCKET,\n      fileKey: `${PREFIX}/${folder}/${dateStr}-${slug}.md`,\n      content: content,\n      label: `note: ${item.title}`\n    });\n  } else if (item.type === 'article') {\n    articleUrls.push(`${item.url || item.content}${item.title ? ' — ' + item.title : ''}`);\n  }\n}\n\n// If there are article URLs, add them to the article queue file\nif (articleUrls.length > 0) {\n  filesToUpload.push({\n    bucket: BUCKET,\n    fileKey: `${PREFIX}/00_Inbox/articles-to-process.md`,\n    content: `---\\ntype: article-queue\\n---\\n\\n${articleUrls.join('\\n')}\\n`,\n    label: `article queue (${articleUrls.length} URLs)`,\n    isArticleQueue: true\n  });\n}\n\n// Add cleared brain dump templates\nconst domains = [\n  { file: 'BrainDump — Faith.md', area: 'faith' },\n  { file: 'BrainDump — Family.md', area: 'family' },\n  { file: 'BrainDump — Business (Echelon Seven).md', area: 'business' },\n  { file: 'BrainDump — Consulting.md', area: 'consulting' },\n  { file: 'BrainDump — Work (Parallon).md', area: 'work' },\n  { file: 'BrainDump — Health.md', area: 'health' },\n  { file: 'BrainDump — Home.md', area: 'home' },\n  { file: 'BrainDump — Personal.md', area: 'personal' }\n];\n\nfor (const dom of domains) {\n  filesToUpload.push({\n    bucket: BUCKET,\n    fileKey: `${PREFIX}/00_Inbox/brain-dumps/${dom.file}`,\n    content: `---\\narea: ${dom.area}\\nprocessed: false\\n---\\n\\nCapture your ${dom.area} thoughts here...\\n`,\n    label: `clear: ${dom.file}`\n  });\n}\n\nreturn [{ json: { filesToUpload, results, articleCount: articleUrls.length } }];"
      },
      "id": "build-updates",
      "name": "Build All Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        560
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-write",
      "name": "Loop: Write Each File",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3100,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert string content to base64 binary for S3 upload\nconst item = $input.item.json;\nconst contentStr = item.content || '';\nconst base64 = Buffer.from(contentStr, 'utf-8').toString('base64');\n\nreturn [{\n  json: { fileKey: item.fileKey, label: item.label },\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'text/markdown',\n      fileName: item.fileKey.split('/').pop() || 'file.md'\n    }\n  }\n}];"
      },
      "id": "prepare-binary",
      "name": "Prepare Binary for Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3340,
        460
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "={{ $json.fileKey }}",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "s3-upload",
      "name": "S3: Upload File",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        3580,
        460
      ],
      "credentials": {
        "aws": {
          "id": "jscahbrUH2TCnnSx",
          "name": "MinIO S3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build smart digest email — grouped by type, needle-movers at top\nconst input = $input.first().json;\nconst results = input.results || [];\n\nconst needleMovers = results.filter(r => r.needle_mover && (r.type === 'task' || r.type === 'decision'));\nconst otherTasks = results.filter(r => !r.needle_mover && r.type === 'task');\nconst notes = results.filter(r => r.type === 'note');\nconst articles = results.filter(r => r.type === 'article');\nconst decisions = results.filter(r => r.type === 'decision' && !r.needle_mover);\n\nconst totalItems = results.length;\nconst nmCount = needleMovers.length;\n\nconst itemRow = (item) => {\n  const areaEmoji = { faith: '🙏', family: '💒', business: '🚀', consulting: '💼', work: '🏥', health: '💪', home: '🏠', personal: '🤖' };\n  const emoji = areaEmoji[item.area] || '📌';\n  const due = item.due ? ` (due ${item.due})` : '';\n  const conn = (item.connections || []).length > 0 ? ` [also: ${item.connections.join(', ')}]` : '';\n  return `<tr><td style=\"padding:8px;border-bottom:1px solid #eee;\">${emoji} <strong>${item.title}</strong>${due}${conn}</td><td style=\"padding:8px;border-bottom:1px solid #eee;text-align:center;\">${item.area}</td><td style=\"padding:8px;border-bottom:1px solid #eee;text-align:center;\">${item.priority || 'B'}</td></tr>`;\n};\n\nlet html = `<div style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;max-width:600px;margin:0 auto;\">\\n`;\nhtml += `<h1 style=\"color:#1a1a2e;\">🧠 Brain Dump Digest</h1>\\n`;\nhtml += `<p style=\"color:#666;\">${totalItems} items processed • ${nmCount} needle-movers found</p>\\n`;\n\nif (needleMovers.length > 0) {\n  html += `<h2 style=\"color:#c0392b;\">🎯 Needle-Movers (Priority A)</h2>\\n`;\n  html += `<table style=\"width:100%;border-collapse:collapse;\">${needleMovers.map(itemRow).join('')}</table>\\n`;\n}\n\nif (otherTasks.length > 0) {\n  html += `<h2 style=\"color:#2c3e50;\">✅ Tasks</h2>\\n`;\n  html += `<table style=\"width:100%;border-collapse:collapse;\">${otherTasks.map(itemRow).join('')}</table>\\n`;\n}\n\nif (decisions.length > 0) {\n  html += `<h2 style=\"color:#8e44ad;\">🤔 Decisions to Make</h2>\\n`;\n  html += `<table style=\"width:100%;border-collapse:collapse;\">${decisions.map(itemRow).join('')}</table>\\n`;\n}\n\nif (notes.length > 0) {\n  html += `<h2 style=\"color:#27ae60;\">📝 Notes Filed</h2>\\n`;\n  html += `<ul>${notes.map(n => `<li><strong>${n.title}</strong> → ${n.area}</li>`).join('')}</ul>\\n`;\n}\n\nif (articles.length > 0) {\n  html += `<h2 style=\"color:#2980b9;\">📚 Articles Queued (${articles.length})</h2>\\n`;\n  html += `<p>These will be fetched and summarized automatically.</p>\\n`;\n  html += `<ul>${articles.map(a => `<li>${a.url || a.title}</li>`).join('')}</ul>\\n`;\n}\n\nhtml += `</div>`;\n\nconst subject = nmCount > 0\n  ? `🧠 Brain Dump: ${nmCount} needle-mover${nmCount > 1 ? 's' : ''} + ${totalItems - nmCount} items`\n  : `🧠 Brain Dump: ${totalItems} items processed`;\n\nreturn [{ json: { subject, html } }];"
      },
      "id": "build-email",
      "name": "Build Digest Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3580,
        660
      ]
    },
    {
      "parameters": {
        "fromEmail": "aaron.deyoung@gmail.com",
        "toEmail": "aaron.deyoung@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Brain Dump Digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3820,
        660
      ],
      "credentials": {
        "smtp": {
          "id": "lWGOwsktldwb3iEj",
          "name": "Gmail SMTP (Aaron)"
        }
      }
    }
  ],
  "connections": {
    "Every Day at 7AM": {
      "main": [
        [
          {
            "node": "Define Brain Dump Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Brain Dump Files": {
      "main": [
        [
          {
            "node": "Loop: Read Each File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Read Each File": {
      "main": [
        [
          {
            "node": "S3: Download Brain Dump",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse & Analyze All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Download Brain Dump": {
      "main": [
        [
          {
            "node": "Extract Text from Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from Binary": {
      "main": [
        [
          {
            "node": "Accumulate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate Results": {
      "main": [
        [
          {
            "node": "Loop: Read Each File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Analyze All": {
      "main": [
        [
          {
            "node": "Has Content?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Content?": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "Groq: Classify Brain Dump",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq: Classify Brain Dump": {
      "main": [
        [
          {
            "node": "Groq OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq OK?": {
      "main": [
        [
          {
            "node": "Parse Groq Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Fallback: Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Fallback: Classify": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Groq Response": {
      "main": [
        [
          {
            "node": "Build All Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Build All Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build All Updates": {
      "main": [
        [
          {
            "node": "Loop: Write Each File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Write Each File": {
      "main": [
        [
          {
            "node": "Prepare Binary for Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Binary for Upload": {
      "main": [
        [
          {
            "node": "S3: Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Upload File": {
      "main": [
        [
          {
            "node": "Loop: Write Each File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest Email": {
      "main": [
        [
          {
            "node": "Send Brain Dump Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "America/Chicago"
  },
  "staticData": {
    "node": {
      "Loop: Read Each File": {}
    }
  },
  "tags": [
    {
      "name": "obsidian",
      "id": "obsidian-tag"
    },
    {
      "name": "brain-dump",
      "id": "brain-dump-tag"
    },
    {
      "name": "automation",
      "id": "automation-tag"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-28T00:00:00.000Z",
  "versionId": "3"
}
