workflows/n8n/daily-note-creator-v2.json
{
  "name": "\ud83d\udcc5 Daily Note Creator v2 \u2014 6AM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * *"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every Day 6AM CDT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Chicago' });\nreturn [{ json: { today, key: `40_Timeline_Weekly/Daily/${today}.md` } }];"
      },
      "id": "set-date",
      "name": "Set Today",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "headObject",
        "bucketName": "obsidian-vault",
        "fileKey": "={{ $json.key }}"
      },
      "id": "s3-check",
      "name": "S3: Check Exists",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ]
        }
      },
      "id": "if-not-exists",
      "name": "Not Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "obsidian-vault",
        "fileKey": "10_Active Projects/Active Personal/!!! MASTER TASK LIST.md"
      },
      "id": "s3-read-mtl",
      "name": "S3: Read MTL",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const today = $('Set Today').first().json.today;\nconst dayOfWeek = new Date(today + 'T18:00:00Z').toLocaleDateString('en-US', { weekday: 'long', timeZone: 'America/Chicago' });\n\nlet mtl = '';\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  mtl = buf.toString('utf-8');\n} catch(e) {}\n\nconst tasksDue = [];\nconst re = /- \\[ \\] .+?\\[due:: (\\d{4}-\\d{2}-\\d{2})\\]/g;\nlet m;\nwhile ((m = re.exec(mtl)) !== null) {\n  if (m[1] <= today) tasksDue.push(m[0]);\n}\n\nconst note = `---\\ndate: ${today}\\nday: ${dayOfWeek}\\ntype: daily-note\\n---\\n\\n# ${dayOfWeek}, ${today}\\n\\n## Today's Focus\\n<!-- What's the ONE thing that matters most today? -->\\n\\n## Tasks Due Today\\n${tasksDue.length > 0 ? tasksDue.join('\\n') : '*No tasks due today*'}\\n\\n## Notes & Observations\\n<!-- Brain dump throughout the day -->\\n\\n## End of Day Review\\n- [ ] Did I move a Quarterly Rock forward today?\\n- [ ] What went well?\\n- [ ] What would I do differently?\\n\\n---\\n*Auto-generated at ${new Date().toISOString()}*\\n`;\n\nreturn [{ json: { key: `40_Timeline_Weekly/Daily/${today}.md`, content: note, today, taskCount: tasksDue.length } }];"
      },
      "id": "build-note",
      "name": "Build Daily Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert markdown content to binary for S3 upload\nconst content = $json.content;\nconst key = $json.key;\nconst fileName = key.split('/').pop();\nconst buf = Buffer.from(content, 'utf-8');\nreturn [{ json: $json, binary: { data: { data: buf.toString('base64'), mimeType: 'text/markdown; charset=utf-8', fileName: fileName, fileExtension: 'md', fileSize: buf.length } } }];"
      },
      "id": "convert-binary",
      "name": "Convert to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "={{ $json.key }}",
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "id": "s3-write",
      "name": "S3: Write Daily Note",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1760,
        200
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "__NOTIFICATION_EMAIL__",
        "toEmail": "__NOTIFICATION_EMAIL__",
        "subject": "=\ud83d\udcc5 Daily Note Created \u2014 {{ $json.today }}",
        "text": "=Daily note created for {{ $json.today }}.\n\nPath: 40_Timeline_Weekly/Daily/{{ $json.today }}.md\nTasks pre-loaded: {{ $json.taskCount }}"
      },
      "id": "email",
      "name": "Email: Created",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1980,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "__SMTP_CRED_ID__",
          "name": "Gmail SMTP (Aaron)"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every Day 6AM CDT": {
      "main": [
        [
          {
            "node": "Set Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Today": {
      "main": [
        [
          {
            "node": "S3: Check Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Check Exists": {
      "main": [
        [
          {
            "node": "Not Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Exists?": {
      "main": [
        [
          {
            "node": "S3: Read MTL",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "S3: Read MTL": {
      "main": [
        [
          {
            "node": "Build Daily Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Note": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "S3: Write Daily Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Write Daily Note": {
      "main": [
        [
          {
            "node": "Email: Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
