workflows/n8n/daily-note-creator-v2.json
{
  "name": "📅 Daily Note Creator v2 — 6AM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every Day 6AM CDT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Chicago' });\nreturn [{ json: { today, key: `40_Timeline_Weekly/Daily/${today}.md` } }];"
      },
      "id": "set-date",
      "name": "Set Today",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "headObject",
        "bucketName": "obsidian-vault",
        "fileKey": "={{ $json.key }}"
      },
      "id": "s3-check",
      "name": "S3: Check Exists",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [660, 300],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ETag }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            }
          ]
        }
      },
      "id": "if-not-exists",
      "name": "Not Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "obsidian-vault",
        "fileKey": "10_Active Projects/Active Personal/!!! MASTER TASK LIST.md"
      },
      "id": "s3-read-mtl",
      "name": "S3: Read MTL",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [1100, 200],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const today = $('Set Today').first().json.today;\nconst dayOfWeek = new Date(today + 'T18:00:00Z').toLocaleDateString('en-US', { weekday: 'long', timeZone: 'America/Chicago' });\n\nlet mtl = '';\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  mtl = buf.toString('utf-8');\n} catch(e) {}\n\n// Tasks due today or overdue\nconst tasksDue = [];\nconst reTask = /^- \\[ \\] .+?\\[due:: (\\d{4}-\\d{2}-\\d{2})\\]/gm;\nlet m;\nwhile ((m = reTask.exec(mtl)) !== null) {\n  if (m[1] <= today) tasksDue.push(m[0]);\n}\n\n// Priority A rocks without a due date — the needle-movers\nconst rocksA = [];\nconst reRock = /^- \\[ \\] (.+?)\\[area:: ([^\\]]+)\\].*?\\[priority:: A\\](?!.*\\[due::)/gm;\nlet r;\nwhile ((r = reRock.exec(mtl)) !== null) {\n  rocksA.push(`- [ ] ${r[1].trim()} [area:: ${r[2]}] [priority:: A]`);\n}\n\nconst dueLine = tasksDue.length > 0\n  ? tasksDue.join('\\n')\n  : '*No tasks due today — great time to advance a Rock.*';\n\nconst rocksLine = rocksA.length > 0\n  ? rocksA.slice(0, 5).join('\\n')\n  : '*No undated Priority A rocks found.*';\n\nconst note = `---\ndate: ${today}\nday: ${dayOfWeek}\ntype: daily-note\n---\n\n# ${dayOfWeek}, ${today}\n\n## 🎯 Today's ONE Thing\n<!-- The single most important thing to accomplish today -->\n\n## ⚡ Tasks Due Today (${tasksDue.length})\n${dueLine}\n\n## 🪨 Priority A Rocks — Keep Moving These Forward\n${rocksLine}\n\n## 📝 Notes & Brain Dump\n<!-- Capture thoughts throughout the day -->\n\n## 🔍 End of Day Review\n- [ ] Did I move a Quarterly Rock forward?\n- [ ] What went well?\n- [ ] What would I do differently?\n- [ ] Anything to capture for tomorrow?\n\n---\n*Auto-generated at ${new Date().toISOString()} — ${tasksDue.length} tasks due, ${rocksA.length} A-rocks active*\n`;\n\nreturn [{ json: { key: `40_Timeline_Weekly/Daily/${today}.md`, content: note, today, taskCount: tasksDue.length, rockCount: rocksA.length } }];"
      },
      "id": "build-note",
      "name": "Build Daily Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "jsCode": "// Convert markdown content to binary for S3 upload\nconst content = $json.content;\nconst key = $json.key;\nconst fileName = key.split('/').pop();\nconst buf = Buffer.from(content, 'utf-8');\nreturn [{ json: $json, binary: { data: { data: buf.toString('base64'), mimeType: 'text/markdown; charset=utf-8', fileName: fileName, fileExtension: 'md', fileSize: buf.length } } }];"
      },
      "id": "convert-binary",
      "name": "Convert to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 200]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "={{ $json.key }}",
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "id": "s3-write",
      "name": "S3: Write Daily Note",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [1760, 200],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Write run log to MinIO\nconst today = $('Set Today').first().json.today;\nconst log = {\n  workflow: 'daily-note-creator-v2',\n  date: today,\n  status: 'success',\n  taskCount: $json.taskCount,\n  rockCount: $json.rockCount,\n  key: $json.key,\n  ts: new Date().toISOString()\n};\nconst buf = Buffer.from(JSON.stringify(log, null, 2), 'utf-8');\nreturn [{ json: { logKey: `99_System/logs/daily-note-creator-${today}.json`, ...log }, binary: { logFile: { data: buf.toString('base64'), mimeType: 'application/json', fileName: `daily-note-creator-${today}.json`, fileExtension: 'json', fileSize: buf.length } } }];"
      },
      "id": "build-log",
      "name": "Build Run Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 200]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "={{ $json.logKey }}",
        "binaryPropertyName": "logFile",
        "additionalFields": {}
      },
      "id": "s3-write-log",
      "name": "S3: Write Run Log",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [2200, 200],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every Day 6AM CDT": {
      "main": [
        [{"node": "Set Today", "type": "main", "index": 0}]
      ]
    },
    "Set Today": {
      "main": [
        [{"node": "S3: Check Exists", "type": "main", "index": 0}]
      ]
    },
    "S3: Check Exists": {
      "main": [
        [{"node": "Not Exists?", "type": "main", "index": 0}]
      ]
    },
    "Not Exists?": {
      "main": [
        [{"node": "S3: Read MTL", "type": "main", "index": 0}],
        []
      ]
    },
    "S3: Read MTL": {
      "main": [
        [{"node": "Build Daily Note", "type": "main", "index": 0}]
      ]
    },
    "Build Daily Note": {
      "main": [
        [{"node": "Convert to Binary", "type": "main", "index": 0}]
      ]
    },
    "Convert to Binary": {
      "main": [
        [{"node": "S3: Write Daily Note", "type": "main", "index": 0}]
      ]
    },
    "S3: Write Daily Note": {
      "main": [
        [{"node": "Build Run Log", "type": "main", "index": 0}]
      ]
    },
    "Build Run Log": {
      "main": [
        [{"node": "S3: Write Run Log", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "errorWorkflow": "jIOFmhr37mXEhlHz"
  }
}
