workflows/n8n/error-handler.json
{
  "name": "🚨 Error Handler — Global",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\nconst today = new Date().toISOString().split('T')[0];\nconst ts = new Date().toISOString();\n\nconst workflowName = error.workflow?.name || 'Unknown';\nconst nodeName = error.execution?.lastNodeExecuted || 'Unknown';\nconst errorMsg = error.execution?.error?.message || JSON.stringify(error).substring(0, 500);\n\nconst html = `<h2>n8n Workflow Error</h2>\n<table border=\"1\" cellpadding=\"5\">\n<tr><td><strong>Workflow</strong></td><td>${workflowName}</td></tr>\n<tr><td><strong>Node</strong></td><td>${nodeName}</td></tr>\n<tr><td><strong>Time</strong></td><td>${ts}</td></tr>\n<tr><td><strong>Error</strong></td><td><pre>${errorMsg}</pre></td></tr>\n</table>`;\n\nconst textBody = `n8n Workflow Error\\n\\nWorkflow: ${workflowName}\\nNode: ${nodeName}\\nTime: ${ts}\\n\\nError:\\n${errorMsg}\\n`;\n\nconst log = JSON.stringify({\n  workflow: 'error-handler',\n  source_workflow: workflowName,\n  source_node: nodeName,\n  error: errorMsg,\n  timestamp: ts\n}, null, 2);\n\nreturn [{ json: {\n  subject: `n8n Error: ${workflowName} — ${nodeName}`,\n  html, textBody, today, ts,\n  logKey: `99_System/logs/errors-${today}.json`,\n  logContent: log\n}}];"
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "fromEmail": "__NOTIFICATION_EMAIL__",
        "toEmail": "__NOTIFICATION_EMAIL__",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "text": "={{ $json.textBody }}",
        "options": {
          "emailFormat": "both"
        }
      },
      "id": "email",
      "name": "Email: Error Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [660, 300],
      "credentials": {
        "smtp": {
          "id": "__SMTP_CRED_ID__",
          "name": "Gmail SMTP (Aaron)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const content = $json.logContent;\nconst key = $json.logKey;\nconst buf = Buffer.from(content, 'utf-8');\nreturn [{ json: $json, binary: { data: { data: buf.toString('base64'), mimeType: 'application/json', fileName: key.split('/').pop(), fileExtension: 'json', fileSize: buf.length } } }];"
      },
      "id": "convert-log-binary",
      "name": "Convert Log to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "={{ $json.logKey }}",
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "id": "s3-log",
      "name": "S3: Write Error Log",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [1100, 300],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Format Error", "type": "main", "index": 0 }]]
    },
    "Format Error": {
      "main": [[
        { "node": "Email: Error Alert", "type": "main", "index": 0 },
        { "node": "Convert Log to Binary", "type": "main", "index": 0 }
      ]]
    },
    "Convert Log to Binary": {
      "main": [[{ "node": "S3: Write Error Log", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
