workflows/n8n/link-enricher.json
{
  "name": "🔗 Link Enricher — Hourly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "obsidian-vault",
        "fileKey": "00_Inbox/articles-to-process.md"
      },
      "id": "s3-read",
      "name": "S3: Read Articles",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// SSRF protection helper\nfunction isSafeUrl(url) {\n  try {\n    const u = new URL(url);\n    if (!['http:', 'https:'].includes(u.protocol)) return false;\n    const h = u.hostname.toLowerCase();\n    if (['localhost', '127.0.0.1', '::1', '0.0.0.0'].includes(h)) return false;\n    if (/^(10\\.|172\\.(1[6-9]|2[0-9]|3[01])\\.|192\\.168\\.|169\\.254\\.|fc|fd|fe80)/i.test(h)) return false;\n    if (h === '169.254.169.254' || h.endsWith('.internal') || h.endsWith('.local')) return false;\n    return true;\n  } catch(e) { return false; }\n}\n\nlet content = '';\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  content = buf.toString('utf-8');\n} catch(e) {}\n\nif (!content.trim()) return [{ json: { noWork: true, reason: 'file not found or empty' } }];\n\nconst lines = content.split('\\n');\nconst toProcess = [];\nlet ssrfBlocked = 0;\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i];\n  const urlMatch = line.match(/https?:\\/\\/[^\\s\\)\\]>]+/);\n  if (!urlMatch || line.includes('[title::')) continue;\n  const url = urlMatch[0].replace(/[.,;>]+$/, '');\n  if (!isSafeUrl(url)) { ssrfBlocked++; continue; }\n  toProcess.push({ url, lineIndex: i, originalLine: line });\n}\n\n// Randomize to prevent queue starvation (blocked domains at front)\nconst shuffled = toProcess.slice().sort(() => Math.random() - 0.5);\nconst batch = shuffled.slice(0, 8);\nif (batch.length === 0) return [{ json: { noWork: true, reason: `all URLs enriched or blocked (${ssrfBlocked} SSRF-blocked)`, totalLines: lines.length } }];\n\nreturn batch.map(item => ({ json: { ...item, fileLines: lines, totalUnenriched: toProcess.length, ssrfBlocked } }));"
      },
      "id": "parse-unenriched",
      "name": "Parse Unenriched URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.noWork }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "if-work",
      "name": "Has URLs to Enrich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; ObsidianHomeOrchestrator/1.0)"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "http-fetch",
      "name": "HTTP: Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Safely correlate HTTP responses with original parsed items\nconst responses = $input.all();\nconst originals = $('Parse Unenriched URLs').all();\n\nreturn responses.map((resp, i) => {\n  const html = (resp.json.data || resp.json.body || '').toString();\n  const original = (originals[i] && originals[i].json) ? originals[i].json : {};\n  let title = '', description = '';\n\n  // Skip if fetch failed\n  if (!html || html.length < 100) {\n    return { json: { ...original, extractedTitle: '', extractedDescription: '', fetchSuccess: false } };\n  }\n\n  try {\n    let m = html.match(/<meta[^>]+property=[\"']og:title[\"'][^>]+content=[\"']([^\"']{1,200})[\"']/i)\n           || html.match(/<meta[^>]+content=[\"']([^\"']{1,200})[\"'][^>]+property=[\"']og:title[\"']/i);\n    if (m) title = m[1].trim();\n    if (!title) {\n      m = html.match(/<title[^>]*>([^<]{1,200})<\\/title>/i);\n      if (m) title = m[1].trim().replace(/\\s+/g, ' ');\n    }\n    m = html.match(/<meta[^>]+property=[\"']og:description[\"'][^>]+content=[\"']([^\"']{1,300})[\"']/i)\n      || html.match(/<meta[^>]+content=[\"']([^\"']{1,300})[\"'][^>]+property=[\"']og:description[\"']/i)\n      || html.match(/<meta[^>]+name=[\"']description[\"'][^>]+content=[\"']([^\"']{1,300})[\"']/i)\n      || html.match(/<meta[^>]+content=[\"']([^\"']{1,300})[\"'][^>]+name=[\"']description[\"']/i);\n    if (m) description = m[1].trim().replace(/\\s+/g, ' ').slice(0, 120);\n  } catch(e) {}\n\n  title = (title || '').replace(/[|\\[\\]]/g, '-').replace(/\\s+/g, ' ').trim().slice(0, 100);\n  if (!title) title = (original.url || 'Link').replace(/https?:\\/\\/([^/]+).*/, '$1');\n\n  return { json: { ...original, extractedTitle: title, extractedDescription: description, fetchSuccess: true } };\n});"
      },
      "id": "extract-title",
      "name": "Extract Titles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const enrichedItems = $input.all();\nif (!enrichedItems || !enrichedItems.length || !enrichedItems[0].json.fileLines) {\n  return [{ json: { skipped: true, reason: 'no enriched items or missing fileLines' } }];\n}\n\nconst fileLines = enrichedItems[0].json.fileLines || [];\nconst today = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Chicago' });\n\nconst replacements = {};\nfor (const item of enrichedItems) {\n  const { lineIndex, originalLine, url, extractedTitle, extractedDescription } = item.json;\n  if (lineIndex === undefined || !extractedTitle) continue;\n  let enriched = originalLine;\n  if (!enriched.includes('[title::')) {\n    const titleTag = ` [title:: ${extractedTitle}]`;\n    const descTag = extractedDescription ? ` [description:: ${extractedDescription.slice(0, 100)}]` : '';\n    enriched = enriched.trimEnd() + titleTag + descTag;\n  }\n  replacements[lineIndex] = enriched;\n}\n\nconst newLines = fileLines.map((line, i) => replacements[i] !== undefined ? replacements[i] : line);\nconst newContent = newLines.join('\\n');\nconst enrichedCount = Object.keys(replacements).length;\n\nconst buf = Buffer.from(newContent, 'utf-8');\nconst logContent = JSON.stringify({\n  workflow: 'link-enricher', run_date: today,\n  finished_at: new Date().toISOString(), status: 'success',\n  urls_enriched: enrichedCount,\n  total_unenriched_before: enrichedItems[0].json.totalUnenriched || 0\n}, null, 2);\nconst logBuf = Buffer.from(logContent, 'utf-8');\nconst logKey = `99_System/logs/link-enricher-${today}.json`;\n\nreturn [{ json: {\n  fileKey: '00_Inbox/articles-to-process.md', enrichedCount, today, logKey\n}, binary: {\n  articleFile: { data: buf.toString('base64'), mimeType: 'text/markdown; charset=utf-8', fileName: 'articles-to-process.md', fileExtension: 'md', fileSize: buf.length },\n  logFile: { data: logBuf.toString('base64'), mimeType: 'application/json', fileName: logKey.split('/').pop(), fileExtension: 'json', fileSize: logBuf.length }\n}}];"
      },
      "id": "rebuild-file",
      "name": "Rebuild Enriched File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.skipped }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "if-not-skipped",
      "name": "Has Enrichments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "={{ $json.fileKey }}",
        "binaryPropertyName": "articleFile",
        "additionalFields": {}
      },
      "id": "s3-write-articles",
      "name": "S3: Write Enriched Articles",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1980,
        200
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "={{ $json.logKey }}",
        "binaryPropertyName": "logFile",
        "additionalFields": {}
      },
      "id": "s3-write-log",
      "name": "S3: Write Log",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1980,
        400
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "S3: Read Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Read Articles": {
      "main": [
        [
          {
            "node": "Parse Unenriched URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Unenriched URLs": {
      "main": [
        [
          {
            "node": "Has URLs to Enrich?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URLs to Enrich?": {
      "main": [
        [
          {
            "node": "HTTP: Fetch Page",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP: Fetch Page": {
      "main": [
        [
          {
            "node": "Extract Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Titles": {
      "main": [
        [
          {
            "node": "Rebuild Enriched File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rebuild Enriched File": {
      "main": [
        [
          {
            "node": "Has Enrichments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Enrichments?": {
      "main": [
        [
          {
            "node": "S3: Write Enriched Articles",
            "type": "main",
            "index": 0
          },
          {
            "node": "S3: Write Log",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "jIOFmhr37mXEhlHz",
    "timezone": "America/Chicago"
  }
}