workflows/n8n/live-dashboard-updater.json
{
  "name": "📊 Live Dashboard Updater — Hourly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst today = now.toLocaleDateString('en-CA', { timeZone: 'America/Chicago' });\nconst timeStr = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Chicago' });\nconst dayOfWeek = now.toLocaleDateString('en-US', { weekday: 'long', timeZone: 'America/Chicago' });\nreturn [{ json: { today, timeStr, dayOfWeek, updatedAt: `${dayOfWeek}, ${today} at ${timeStr} CT` } }];"
      },
      "id": "set-time",
      "name": "Set Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "obsidian-vault",
        "fileKey": "10_Active Projects/Active Personal/!!! MASTER TASK LIST.md"
      },
      "id": "s3-mtl",
      "name": "S3: Read MTL",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const { today, timeStr, dayOfWeek, updatedAt } = $('Set Time').first().json;\n\nlet mtl = '';\nlet mtlReadFailed = false;\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  mtl = buf.toString('utf-8');\n} catch(e) {\n  mtlReadFailed = true;\n}\n\nif (mtlReadFailed || !mtl.trim()) {\n  return [{ json: { _skip: true, reason: 'MTL read failed — preserving existing dashboard', today, updatedAt } }];\n}\n\n// ── Parse tasks ────────────────────────────────────────────────────────────\nconst AREAS = ['faith','family','business','consulting','work','health','home','personal'];\nconst AREA_EMOJI = { faith:'🙏', family:'👨‍👩‍👧', business:'🚀', consulting:'💼', work:'🏥', health:'💪', home:'🏠', personal:'🎯' };\n\nconst allOpen = [], allDone = [];\nconst openRe = /^- \\[ \\] (.+?)\\[area:: (\\w+)\\].*?\\[priority:: ([ABC])\\](?:.*?\\[due:: (\\d{4}-\\d{2}-\\d{2})\\])?/gm;\nconst doneRe = /^- \\[x\\] (.+?)\\[area:: (\\w+)\\]/gm;\nlet m;\nwhile ((m = openRe.exec(mtl)) !== null) allOpen.push({ task: m[1].trim(), area: m[2], priority: m[3], due: m[4]||null });\nwhile ((m = doneRe.exec(mtl)) !== null) allDone.push({ area: m[2] });\n\nconst overdue   = allOpen.filter(t => t.due && t.due < today)\n  .map(t => ({ ...t, daysOverdue: Math.floor((new Date(today)-new Date(t.due))/86400000) }))\n  .sort((a,b) => { if(a.priority!==b.priority) return a.priority<b.priority?-1:1; return b.daysOverdue-a.daysOverdue; });\nconst dueToday  = allOpen.filter(t => t.due === today)\n  .sort((a,b) => a.priority<b.priority?-1:a.priority>b.priority?1:0);\nconst upcoming  = allOpen.filter(t => t.due && t.due > today)\n  .sort((a,b) => a.due<b.due?-1:a.due>b.due?1:0).slice(0,10);\nconst priorityA = allOpen.filter(t => t.priority==='A');\nconst quickWins = allOpen.filter(t => t.priority==='C' && (!t.due||t.due>=today)).slice(0,5);\n\nconst byArea = {};\nconst doneByArea = {};\nfor (const area of AREAS) {\n  byArea[area]    = allOpen.filter(t => t.area===area);\n  doneByArea[area]= allDone.filter(t => t.area===area).length;\n}\n\n// ── #1 Priority determination ──────────────────────────────────────────────\nlet topTask = null;\nconst criticalOverdue = overdue.find(t => t.priority==='A');\nconst todayA = dueToday.find(t => t.priority==='A');\nconst anyOverdue = overdue[0];\nconst anyToday = dueToday[0];\ntopTask = criticalOverdue || todayA || anyOverdue || anyToday || priorityA[0] || null;\n\n// ── Q2 Rock tracking ───────────────────────────────────────────────────────\n// Compute progress: (done Priority A in area) / (done + open Priority A in area)\nconst Q2_ROCKS = [\n  { area:'faith',    emoji:'🙏', label:'Launch social media Bible study (4 sessions)' },\n  { area:'family',   emoji:'👨‍👩‍👧', label:'Marriage Alignment + bi-weekly check-in' },\n  { area:'business', emoji:'🚀', label:'Ship MVP — website, offer, 3 outreach convos' },\n  { area:'work',     emoji:'🏥', label:'Deliver Union project' },\n  { area:'health',   emoji:'💪', label:'Hip decision + 3x/week gym × 8 weeks' },\n];\nconst openPriorityAByArea = {};\nfor (const area of AREAS) openPriorityAByArea[area] = byArea[area].filter(t=>t.priority==='A').length;\n\n// ── Brain dump status ──────────────────────────────────────────────────────\n// We can't easily check brain dump files from here, so we show a reminder message\n// based on system time (runs hourly — brain dump processor runs at 7AM)\nconst hour = parseInt(timeStr.split(':')[0]);\nconst isAM = timeStr.includes('AM');\nconst brainDumpNote = (isAM && hour < 8) ? '⏳ Brain dump processor not yet run today' : \n                      (isAM && hour >= 7) ? '✅ Brain dump processor ran this morning' :\n                      '✅ Brain dump processor ran this morning';\n\n// ── Domain health scoring ──────────────────────────────────────────────────\nfunction domainHealth(area) {\n  const tasks = byArea[area];\n  const overdueCount = tasks.filter(t => t.due && t.due < today).length;\n  if (overdueCount >= 3) return '🔴';\n  if (overdueCount >= 1) return '🟡';\n  if (tasks.length === 0) return '⚪';\n  return '🟢';\n}\n\n// ── Markdown builder ───────────────────────────────────────────────────────\nlet md = `---\ntype: live-dashboard\nupdated: ${today}T${timeStr}\n---\n\n# 🧠 Aaron's Life OS — ${dayOfWeek}, ${today}\n\n> [!tip] 🎯 #1 PRIORITY RIGHT NOW\n> ${topTask \n    ? `**${topTask.task}** \\`${topTask.area}\\` \\`${topTask.priority}\\`` + (topTask.daysOverdue ? ` — ⚠️ ${topTask.daysOverdue}d overdue` : topTask.due===today ? ' — 📅 due today' : '')\n    : 'No urgent tasks — use this time to move a Q2 Rock forward.'}\n\n`;\n\n// ── Overdue ────────────────────────────────────────────────────────────────\nif (overdue.length > 0) {\n  const critical = overdue.filter(t=>t.daysOverdue>=8);\n  const high     = overdue.filter(t=>t.daysOverdue>=4&&t.daysOverdue<8);\n  const medium   = overdue.filter(t=>t.daysOverdue<4);\n  md += `> [!danger] 🔥 Overdue — ${overdue.length} task${overdue.length>1?'s':''}\\n`;\n  if (critical.length) md += `> **CRITICAL (8+ days):** ${critical.length}\\n`;\n  if (high.length)     md += `> **High (4–7 days):** ${high.length}\\n`;\n  if (medium.length)   md += `> **Medium (1–3 days):** ${medium.length}\\n>\\n`;\n  for (const t of overdue.slice(0,12)) {\n    const badge = t.daysOverdue>=8?'🔴':t.daysOverdue>=4?'🟠':'🟡';\n    md += `> ${badge} ${t.daysOverdue}d · **[${t.priority}]** ${t.task} \\`${AREA_EMOJI[t.area]||'📌'} ${t.area}\\`\\n`;\n  }\n  if (overdue.length>12) md += `> *…and ${overdue.length-12} more overdue tasks*\\n`;\n  md += '\\n';\n} else {\n  md += `> [!success] ✅ No overdue tasks — you're ahead of the game!\\n\\n`;\n}\n\n// ── Due today ─────────────────────────────────────────────────────────────\nif (dueToday.length > 0) {\n  md += `> [!warning] 📅 Due Today — ${dueToday.length} task${dueToday.length>1?'s':''}\\n>\\n`;\n  for (const t of dueToday) {\n    md += `> **[${t.priority}]** ${t.task} \\`${AREA_EMOJI[t.area]||'📌'} ${t.area}\\`\\n`;\n  }\n  md += '\\n';\n} else {\n  md += `> [!info] 📅 Nothing due today — good time to get ahead.\\n\\n`;\n}\n\n// ── Priority A (no due date) ───────────────────────────────────────────────\nconst floatingA = priorityA.filter(t => !t.due);\nif (floatingA.length > 0) {\n  md += `> [!warning]- 🪨 Priority A Rocks (no due date) — ${floatingA.length}\\n>\\n`;\n  for (const t of floatingA.slice(0,8)) {\n    md += `> **[A]** ${t.task} \\`${AREA_EMOJI[t.area]||'📌'} ${t.area}\\`\\n`;\n  }\n  if (floatingA.length>8) md += `> *…and ${floatingA.length-8} more*\\n`;\n  md += '\\n';\n}\n\n// ── Upcoming (next 7 days) ─────────────────────────────────────────────────\nif (upcoming.length > 0) {\n  md += `> [!info]- 📆 Upcoming — Next 7 Days (${upcoming.length})\\n>\\n`;\n  for (const t of upcoming.slice(0,8)) {\n    const daysUntil = Math.ceil((new Date(t.due)-new Date(today))/86400000);\n    const urgency = daysUntil<=2?'⚡':daysUntil<=4?'📌':'📆';\n    md += `> ${urgency} **${t.due}** (+${daysUntil}d) · [${t.priority}] ${t.task} \\`${t.area}\\`\\n`;\n  }\n  md += '\\n';\n}\n\n// ── Q2 2026 Rocks ─────────────────────────────────────────────────────────\nmd += `> [!note]- 🎯 Q2 2026 Quarterly Rocks\\n>\\n`;\nfor (const rock of Q2_ROCKS) {\n  const open = openPriorityAByArea[rock.area] || 0;\n  const done = doneByArea[rock.area] || 0;\n  const status = open===0 ? '✅' : open<=2 ? '🟡' : '🔴';\n  md += `> ${status} **${rock.emoji} ${rock.area}:** ${rock.label}\\n`;\n  md += `>    ${open} Priority A tasks open`;\n  if (done>0) md += `, ${done} completed`;\n  md += '\\n';\n}\nmd += '\\n';\n\n// ── Domain Pulse ──────────────────────────────────────────────────────────\nmd += `> [!abstract]- 🗂️ Domain Pulse — ${allOpen.length} open across 8 areas\\n>\\n`;\nmd += `> | Domain | Health | Open | 🔥 Overdue | 🔴 Priority A |\\n`;\nmd += `> |--------|--------|------|-----------|---------------|\\n`;\nfor (const area of AREAS) {\n  const tasks = byArea[area];\n  const ov = tasks.filter(t=>t.due&&t.due<today).length;\n  const pa = tasks.filter(t=>t.priority==='A').length;\n  const health = domainHealth(area);\n  md += `> | ${AREA_EMOJI[area]} ${area} | ${health} | ${tasks.length} | ${ov||'—'} | ${pa||'—'} |\\n`;\n}\nmd += '\\n';\n\n// ── Quick Wins ────────────────────────────────────────────────────────────\nif (quickWins.length > 0) {\n  md += `> [!success]- ⚡ Quick Wins — Priority C (easy momentum)\\n>\\n`;\n  for (const t of quickWins) {\n    md += `> - [ ] ${t.task} \\`${AREA_EMOJI[t.area]||'📌'} ${t.area}\\`\\n`;\n  }\n  md += '\\n';\n}\n\n// ── System Status ─────────────────────────────────────────────────────────\nmd += `> [!example]- 🏥 System Status\\n> ${brainDumpNote}\\n> 🔄 Dashboard refreshed: ${updatedAt}\\n> 📋 Total tasks tracked: **${allOpen.length} open**, ${allDone.length} completed in MTL\\n\\n`;\n\nmd += `---\\n*Auto-refreshed hourly · ${allOpen.length} open tasks · Life OS powered by ObsidianHomeOrchestrator*\\n`;\n\nconst buf = Buffer.from(md, 'utf-8');\nreturn [{ json: {\n  key: '000_Master Dashboard/Live Dashboard.md',\n  today, updatedAt, totalTasks: allOpen.length,\n  overdueCount: overdue.length, dueTodayCount: dueToday.length\n}, binary: { data: { data: buf.toString('base64'), mimeType: 'text/markdown; charset=utf-8', fileName: 'Live Dashboard.md', fileExtension: 'md', fileSize: buf.length } } }];"
      },
      "id": "build-dashboard",
      "name": "Build Dashboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "000_Master Dashboard/Live Dashboard.md",
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "id": "s3-write",
      "name": "S3: Write Dashboard",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Set Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Time": {
      "main": [
        [
          {
            "node": "S3: Read MTL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Read MTL": {
      "main": [
        [
          {
            "node": "Build Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dashboard": {
      "main": [
        [
          {
            "node": "S3: Write Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "jIOFmhr37mXEhlHz",
    "timezone": "America/Chicago"
  }
}