workflows/n8n/live-dashboard-updater.json
{
  "name": "\ud83d\udcca Live Dashboard Updater \u2014 Hourly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst today = now.toLocaleDateString('en-CA', { timeZone: 'America/Chicago' });\nconst timeStr = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Chicago' });\nconst dayOfWeek = now.toLocaleDateString('en-US', { weekday: 'long', timeZone: 'America/Chicago' });\nreturn [{ json: { today, timeStr, dayOfWeek, updatedAt: `${dayOfWeek}, ${today} at ${timeStr} CT` } }];"
      },
      "id": "set-time",
      "name": "Set Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "obsidian-vault",
        "fileKey": "10_Active Projects/Active Personal/!!! MASTER TASK LIST.md"
      },
      "id": "s3-mtl",
      "name": "S3: Read MTL",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const { today, timeStr, dayOfWeek, updatedAt } = $('Set Time').first().json;\n\nlet mtl = '';\nlet mtlReadFailed = false;\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  mtl = buf.toString('utf-8');\n} catch(e) {\n  mtlReadFailed = true;\n}\n\n// SAFETY: if MTL read failed, do NOT overwrite the existing dashboard with an empty one.\nif (mtlReadFailed || !mtl.trim()) {\n  return [{ json: { _skip: true, reason: 'MTL read failed \u2014 preserving existing dashboard', today, updatedAt } }];\n}\n\nconst areaEmoji = { faith:'\ud83d\ude4f', family:'\ud83d\udc68\u200d\ud83d\udc69\u200d\ud83d\udc67', business:'\ud83d\ude80', consulting:'\ud83d\udcbc', work:'\ud83c\udfe5', health:'\ud83d\udcaa', home:'\ud83c\udfe0', personal:'\ud83c\udfaf' };\nconst AREAS = ['faith','family','business','consulting','work','health','home','personal'];\n\n// Parse all open tasks\nconst allTasks = [];\nconst re = /^- \\[ \\] (.+?)\\[area:: (\\w+)\\].*?\\[priority:: ([ABC])\\](?:.*?\\[due:: (\\d{4}-\\d{2}-\\d{2})\\])?/gm;\nlet m;\nwhile ((m = re.exec(mtl)) !== null) {\n  allTasks.push({ task: m[1].trim(), area: m[2], priority: m[3], due: m[4] || null });\n}\n\nconst overdue   = allTasks.filter(t => t.due && t.due < today);\nconst dueToday  = allTasks.filter(t => t.due === today);\nconst upcoming  = allTasks.filter(t => t.due && t.due > today).slice(0, 10);\nconst noDue     = allTasks.filter(t => !t.due);\n\nconst byArea = {};\nfor (const area of AREAS) byArea[area] = allTasks.filter(t => t.area === area).length;\n\nconst priorityCounts = { A: allTasks.filter(t=>t.priority==='A').length, B: allTasks.filter(t=>t.priority==='B').length, C: allTasks.filter(t=>t.priority==='C').length };\n\n// Build Obsidian Markdown dashboard\nlet md = `---\\ntype: live-dashboard\\nupdated: ${today}T${timeStr}\\n---\\n\\n`;\nmd += `# \ud83e\udde0 Life OS Dashboard\\n\\n> \ud83d\udd04 **Last updated:** ${updatedAt}\\n\\n`;\n\nmd += `## \ud83d\udcc8 Task Overview\\n\\n`;\nmd += `| Metric | Count |\\n|---|---|\\n`;\nmd += `| \ud83d\udd25 Overdue | **${overdue.length}** |\\n`;\nmd += `| \ud83d\udcc5 Due Today | **${dueToday.length}** |\\n`;\nmd += `| \ud83d\udcc6 Upcoming | ${upcoming.length} |\\n`;\nmd += `| \u2753 No Due Date | ${noDue.length} |\\n`;\nmd += `| \ud83d\udccb Total Open | ${allTasks.length} |\\n`;\nmd += `| \ud83d\udd34 Priority A | ${priorityCounts.A} | \\n`;\nmd += `| \ud83d\udfe1 Priority B | ${priorityCounts.B} |\\n`;\nmd += `| \u26aa Priority C | ${priorityCounts.C} |\\n\\n`;\n\nmd += `## \ud83d\uddc2\ufe0f By Life Area\\n\\n`;\nfor (const area of AREAS) {\n  const count = byArea[area] || 0;\n  const bar = '\u2588'.repeat(Math.min(count, 20)) + '\u2591'.repeat(Math.max(0, 10-Math.min(count,10)));\n  md += `| ${areaEmoji[area] || '\ud83d\udccc'} ${area.charAt(0).toUpperCase()+area.slice(1)} | ${count} tasks | \\`${bar}\\` |\\n`;\n}\nmd += '\\n';\n\nif (overdue.length > 0) {\n  md += `## \ud83d\udd25 Overdue (${overdue.length})\\n\\n`;\n  overdue.sort((a,b) => a.priority < b.priority ? -1 : 1).slice(0, 15).forEach(t => {\n    const days = Math.floor((new Date(today) - new Date(t.due)) / 86400000);\n    md += `- [ ] ${t.task} [area:: ${t.area}] [priority:: ${t.priority}] [due:: ${t.due}] \u26a0\ufe0f ${days}d overdue\\n`;\n  });\n  md += '\\n';\n}\n\nif (dueToday.length > 0) {\n  md += `## \ud83d\udcc5 Due Today (${dueToday.length})\\n\\n`;\n  dueToday.sort((a,b) => a.priority < b.priority ? -1 : 1).forEach(t => {\n    md += `- [ ] ${t.task} [area:: ${t.area}] [priority:: ${t.priority}]\\n`;\n  });\n  md += '\\n';\n}\n\nmd += `## \ud83c\udfaf Q2 2026 Rocks\\n\\n`;\nmd += `- [ ] \ud83d\ude4f Faith: Launch social media Bible study (4 sessions)\\n`;\nmd += `- [ ] \ud83d\udc68\u200d\ud83d\udc69\u200d\ud83d\udc67 Family: Marriage Alignment Questionnaire + bi-weekly check-in\\n`;\nmd += `- [ ] \ud83d\ude80 Business: Ship MVP \u2014 website live, offer defined, 3 outreach convos\\n`;\nmd += `- [ ] \ud83c\udfe5 Work: Deliver Union project\\n`;\nmd += `- [ ] \ud83d\udcaa Health: Hip decision + 3x/week gym for 8 weeks\\n\\n`;\n\nmd += `---\\n*Auto-refreshed hourly by ObsidianHomeOrchestrator | ${allTasks.length} open tasks across ${AREAS.length} areas*\\n`;\n\nconst buf = Buffer.from(md, 'utf-8');\nreturn [{ json: {\n  key: '000_Master Dashboard/Live Dashboard.md',\n  today, updatedAt,\n  totalTasks: allTasks.length,\n  overdueCount: overdue.length\n}, binary: { data: { data: buf.toString('base64'), mimeType: 'text/markdown; charset=utf-8', fileName: 'Live Dashboard.md', fileExtension: 'md', fileSize: buf.length } } }];"
      },
      "id": "build-dashboard",
      "name": "Build Dashboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "if-not-skip",
      "name": "Should Write?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        990,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "000_Master Dashboard/Live Dashboard.md",
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "id": "s3-write",
      "name": "S3: Write Dashboard",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Set Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Time": {
      "main": [
        [
          {
            "node": "S3: Read MTL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Read MTL": {
      "main": [
        [
          {
            "node": "Build Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dashboard": {
      "main": [
        [
          {
            "node": "Should Write?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Write?": {
      "main": [
        [
          {
            "node": "S3: Write Dashboard",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
