workflows/n8n/morning-briefing.json
{
  "name": "\ud83c\udf05 Morning Briefing \u2014 7AM Daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every Day 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst today = now.toLocaleDateString('en-CA', { timeZone: 'America/Chicago' });\nconst yesterday = new Date(now - 86400000).toLocaleDateString('en-CA', { timeZone: 'America/Chicago' });\nconst dayOfWeek = now.toLocaleDateString('en-US', { weekday: 'long', timeZone: 'America/Chicago' });\nreturn [{ json: { today, yesterday, dayOfWeek } }];"
      },
      "id": "set-dates",
      "name": "Set Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "obsidian-vault",
        "fileKey": "10_Active Projects/Active Personal/!!! MASTER TASK LIST.md"
      },
      "id": "s3-mtl",
      "name": "S3: Read MTL",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        660,
        200
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "obsidian-vault",
        "fileKey": "={{ `99_System/logs/brain-dump-processor-${$('Set Dates').first().json.yesterday}.json` }}"
      },
      "id": "s3-log",
      "name": "S3: Read Yesterday Log",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        660,
        400
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const { today, yesterday, dayOfWeek } = $('Set Dates').first().json;\n\n// Read MTL content from S3 binary output\nlet mtlContent = '';\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  mtlContent = buf.toString('utf-8');\n} catch(e) {}\n\n// Parse tasks \u2014 correct single-escaped regex, due date is optional\nconst overdue = [];\nconst dueToday = [];\nconst priorityANoDate = [];\nconst allTasks = [];\n\nconst re = /^- \\[ \\] (.+?)\\[area:: (\\w+)\\].*?\\[priority:: ([ABC])\\](?:.*?\\[due:: (\\d{4}-\\d{2}-\\d{2})\\])?/gm;\nlet m;\nwhile ((m = re.exec(mtlContent)) !== null) {\n  const task = m[1].trim();\n  const area = m[2];\n  const priority = m[3];\n  const due = m[4] || null;\n  const item = { task, area, priority, due };\n  allTasks.push(item);\n  if (due) {\n    if (due < today) {\n      item.daysOverdue = Math.floor((new Date(today) - new Date(due)) / 86400000);\n      overdue.push(item);\n    } else if (due === today) {\n      dueToday.push(item);\n    }\n  } else if (priority === 'A') {\n    priorityANoDate.push(item);\n  }\n}\n\n// Sort: overdue by priority then daysOverdue desc; dueToday by priority\noverdue.sort((a, b) => {\n  if (a.priority !== b.priority) return a.priority < b.priority ? -1 : 1;\n  return b.daysOverdue - a.daysOverdue;\n});\ndueToday.sort((a, b) => a.priority < b.priority ? -1 : a.priority > b.priority ? 1 : 0);\n\n// Quick wins: up to 3 Priority C tasks not past due\nconst quickWins = allTasks.filter(t => t.priority === 'C' && (!t.due || t.due >= today)).slice(0, 3);\n\n// Determine #1 priority task\nlet topPriorityTask = 'Review your Master Task List and set your intention for today.';\nif (overdue.find(t => t.priority === 'A')) {\n  const top = overdue.find(t => t.priority === 'A');\n  topPriorityTask = top.task + ' [' + top.area + '] \u2014 ' + top.daysOverdue + 'd overdue';\n} else if (dueToday.find(t => t.priority === 'A')) {\n  const top = dueToday.find(t => t.priority === 'A');\n  topPriorityTask = top.task + ' [' + top.area + ']';\n} else if (overdue.length > 0) {\n  const top = overdue[0];\n  topPriorityTask = top.task + ' [' + top.area + '] \u2014 ' + top.daysOverdue + 'd overdue';\n} else if (dueToday.length > 0) {\n  topPriorityTask = dueToday[0].task + ' [' + dueToday[0].area + ']';\n} else if (priorityANoDate.length > 0) {\n  topPriorityTask = priorityANoDate[0].task + ' [' + priorityANoDate[0].area + ']';\n}\n\n// Read yesterday log\nlet capturedTasks = 0, capturedArticles = 0;\ntry {\n  const logBuf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  if (logBuf) {\n    const log = JSON.parse(logBuf.toString('utf-8'));\n    capturedTasks = log.tasks_extracted || log.task_count || 0;\n    capturedArticles = log.articles_queued || log.article_count || 0;\n  }\n} catch(e) {}\n\nconst areaEmoji = { faith:'\ud83d\ude4f', family:'\ud83d\udc68\u200d\ud83d\udc69\u200d\ud83d\udc67', business:'\ud83d\ude80', consulting:'\ud83d\udcbc', work:'\ud83c\udfe5', health:'\ud83d\udcaa', home:'\ud83c\udfe0', personal:'\ud83c\udfaf' };\n\nfunction priorityBadge(p) {\n  const colors = { A:'#dc2626', B:'#d97706', C:'#6b7280' };\n  return '<span style=\"display:inline-block;padding:2px 6px;border-radius:3px;font-size:10px;font-weight:bold;background:' + colors[p] + ';color:white\">' + p + '</span>';\n}\n\nfunction taskCard(t, borderColor) {\n  const dueTxt = t.due ? '<span style=\"color:#6b7280;font-size:11px\"> \u00b7 due ' + t.due + '</span>' : '';\n  const overdueBadge = t.daysOverdue ? ' <span style=\"color:#dc2626;font-weight:bold;font-size:11px\">' + t.daysOverdue + 'd overdue</span>' : '';\n  const emoji = areaEmoji[t.area] || '\ud83d\udccc';\n  return '<div style=\"border-left:4px solid ' + borderColor + ';background:white;padding:12px 14px;margin:4px 0;border-radius:0 4px 4px 0\">'\n    + '<div style=\"display:flex;align-items:center;gap:8px;flex-wrap:wrap\">'\n    + priorityBadge(t.priority)\n    + '<span style=\"font-size:13px;font-weight:500\">' + emoji + ' ' + t.task + '</span>'\n    + overdueBadge + dueTxt\n    + '</div>'\n    + '<div style=\"font-size:11px;color:#9ca3af;margin-top:4px;text-transform:capitalize\">' + t.area + '</div>'\n    + '</div>';\n}\n\nconst rocks = [\n  { area:'faith', label:'Social media Bible study (4 sessions)', pct:35 },\n  { area:'family', label:'Marriage Alignment + bi-weekly check-in', pct:0 },\n  { area:'business', label:'MVP \u2014 website, offer, 3 outreach convos', pct:25 },\n  { area:'work', label:'Deliver Union project', pct:0 },\n  { area:'health', label:'Hip decision + 3x/week gym \u00d78 weeks', pct:0 },\n];\n\nfunction progressBar(pct) {\n  const color = pct >= 75 ? '#16a34a' : pct >= 40 ? '#d97706' : '#dc2626';\n  return '<div style=\"background:#e5e7eb;border-radius:4px;height:6px;margin-top:4px\"><div style=\"background:' + color + ';width:' + pct + '%;height:6px;border-radius:4px\"></div></div>';\n}\n\nlet html = '<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;background:#f5f5f5;padding:0\">';\n\n// Header\nhtml += '<div style=\"background:#1a1a2e;color:white;padding:24px 20px;border-radius:8px 8px 0 0\">'\n  + '<h1 style=\"margin:0;font-size:22px;font-weight:700\">\ud83c\udf05 Good morning, Aaron</h1>'\n  + '<p style=\"margin:6px 0 0;opacity:0.75;font-size:14px\">' + dayOfWeek + ', ' + today + '</p>'\n  + '</div>';\n\n// Top Priority CTA\nhtml += '<div style=\"background:#dc2626;color:white;padding:14px 20px;margin:2px 0\">'\n  + '<p style=\"margin:0;font-size:10px;text-transform:uppercase;letter-spacing:1.5px;opacity:0.85\">\ud83c\udfaf TODAY\\'S #1 PRIORITY</p>'\n  + '<p style=\"margin:6px 0 0;font-size:15px;font-weight:bold;line-height:1.4\">' + topPriorityTask + '</p>'\n  + '</div>';\n\n// Overdue section\nhtml += '<div style=\"padding:16px 20px;background:#fff8f8;margin-top:2px\">';\nif (overdue.length > 0) {\n  html += '<h2 style=\"margin:0 0 10px;font-size:15px;color:#dc2626;font-weight:700\">\ud83d\udd25 Overdue \u2014 ' + overdue.length + ' task' + (overdue.length > 1 ? 's' : '') + '</h2>';\n  html += overdue.map(t => taskCard(t, '#dc2626')).join('');\n} else {\n  html += '<div style=\"border-left:4px solid #16a34a;background:white;padding:12px 14px;border-radius:0 4px 4px 0\"><span style=\"color:#16a34a;font-weight:bold\">\u2705 No overdue tasks \u2014 you\\'re ahead of the game!</span></div>';\n}\nhtml += '</div>';\n\n// Due Today section\nhtml += '<div style=\"padding:16px 20px;background:#fffbf0;margin-top:2px\">';\nif (dueToday.length > 0) {\n  html += '<h2 style=\"margin:0 0 10px;font-size:15px;color:#d97706;font-weight:700\">\ud83d\udcc5 Due Today \u2014 ' + dueToday.length + ' task' + (dueToday.length > 1 ? 's' : '') + '</h2>';\n  html += dueToday.map(t => taskCard(t, '#d97706')).join('');\n} else {\n  html += '<div style=\"border-left:4px solid #d97706;background:white;padding:12px 14px;border-radius:0 4px 4px 0\"><span style=\"color:#6b7280\">\ud83d\udcc5 Nothing due today \u2014 good time to get ahead.</span></div>';\n}\nhtml += '</div>';\n\n// Priority A \u2014 No Date section\nif (priorityANoDate.length > 0) {\n  html += '<div style=\"padding:16px 20px;background:#f0f4ff;margin-top:2px\">'\n    + '<h2 style=\"margin:0 0 10px;font-size:15px;color:#2563eb;font-weight:700\">\ud83e\udea8 Priority A Rocks (no due date)</h2>'\n    + priorityANoDate.map(t => taskCard(t, '#2563eb')).join('')\n    + '</div>';\n}\n\n// Q2 Rocks Snapshot\nhtml += '<div style=\"padding:16px 20px;background:#f9fafb;margin-top:2px\"><h2 style=\"margin:0 0 12px;font-size:15px;color:#374151;font-weight:700\">\ud83c\udfaf Q2 2026 Rocks Snapshot</h2>';\nfor (const rock of rocks) {\n  const emoji = areaEmoji[rock.area] || '\ud83d\udccc';\n  html += '<div style=\"margin-bottom:10px\">'\n    + '<div style=\"display:flex;justify-content:space-between;align-items:center\">'\n    + '<span style=\"font-size:12px;font-weight:600\">' + emoji + ' ' + rock.label + '</span>'\n    + '<span style=\"font-size:11px;color:#6b7280;margin-left:8px;white-space:nowrap\">' + rock.pct + '%</span>'\n    + '</div>'\n    + progressBar(rock.pct)\n    + '</div>';\n}\nhtml += '</div>';\n\n// Quick Wins\nif (quickWins.length > 0) {\n  html += '<div style=\"padding:16px 20px;background:#f0fdf4;margin-top:2px\">'\n    + '<h2 style=\"margin:0 0 10px;font-size:15px;color:#16a34a;font-weight:700\">\u26a1 Quick Wins</h2>'\n    + quickWins.map(t => taskCard(t, '#16a34a')).join('')\n    + '</div>';\n}\n\n// Yesterday captures\nif (capturedTasks > 0 || capturedArticles > 0) {\n  html += '<div style=\"padding:16px 20px;background:#eff6ff;margin-top:2px\">'\n    + '<h2 style=\"margin:0 0 8px;font-size:15px;color:#2563eb;font-weight:700\">\ud83d\udce5 Yesterday\\'s Captures</h2>'\n    + '<p style=\"margin:4px 0;font-size:13px\">\ud83d\udcdd <strong>' + capturedTasks + '</strong> tasks extracted &nbsp;|&nbsp; \ud83d\udd17 <strong>' + capturedArticles + '</strong> articles queued</p>'\n    + '</div>';\n}\n\n// Footer\nhtml += '<div style=\"padding:14px 20px;background:#1a1a2e;border-radius:0 0 8px 8px;text-align:center\">'\n  + '<p style=\"margin:0;color:#9ca3af;font-size:11px\">' + allTasks.length + ' tasks open across 8 areas &nbsp;\u00b7&nbsp; Powered by Life OS &nbsp;\u00b7&nbsp; ' + today + '</p>'\n  + '</div>';\n\nhtml += '</div>';\n\nreturn [{ json: {\n  html,\n  today,\n  dayOfWeek,\n  overdueCount: overdue.length,\n  todayCount: dueToday.length,\n  capturedTasks,\n  capturedArticles,\n  bodyLength: html.length\n} }];\n"
      },
      "id": "build-briefing",
      "name": "Build Morning Briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "__NOTIFICATION_EMAIL__",
        "toEmail": "__NOTIFICATION_EMAIL__",
        "subject": "={{ `\ud83c\udf05 Morning Briefing \u2014 ${$json.dayOfWeek}, ${$json.today} | ${$json.overdueCount} overdue, ${$json.todayCount} due today` }}",
        "html": "={{ $json.html }}",
        "options": {
          "emailFormat": "html"
        }
      },
      "id": "email",
      "name": "Email: Morning Briefing",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "__SMTP_CRED_ID__",
          "name": "Gmail SMTP (Aaron)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst log = JSON.stringify({ workflow: 'morning-briefing', run_date: j.today, finished_at: new Date().toISOString(), status: 'success', overdue_count: j.overdueCount, today_count: j.todayCount, body_length: j.bodyLength }, null, 2);\nreturn [{ json: { logKey: `99_System/logs/morning-briefing-${j.today}.json`, logContent: log } }];"
      },
      "id": "build-log",
      "name": "Build Run Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const content = $json.logContent;\nconst key = $json.logKey;\nconst buf = Buffer.from(content, 'utf-8');\nreturn [{ json: $json, binary: { data: { data: buf.toString('base64'), mimeType: 'application/json', fileName: key.split('/').pop(), fileExtension: 'json', fileSize: buf.length } } }];"
      },
      "id": "convert-log-binary",
      "name": "Convert Log to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "={{ $json.logKey }}",
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "id": "s3-write-log",
      "name": "S3: Write Log",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1760,
        300
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every Day 7AM": {
      "main": [
        [
          {
            "node": "Set Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Dates": {
      "main": [
        [
          {
            "node": "S3: Read MTL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Read MTL": {
      "main": [
        [
          {
            "node": "S3: Read Yesterday Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Read Yesterday Log": {
      "main": [
        [
          {
            "node": "Build Morning Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Morning Briefing": {
      "main": [
        [
          {
            "node": "Email: Morning Briefing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Run Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Run Log": {
      "main": [
        [
          {
            "node": "Convert Log to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Log to Binary": {
      "main": [
        [
          {
            "node": "S3: Write Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
