workflows/n8n/overdue-task-alert-v2.json
{
  "name": "\u26a0\ufe0f Overdue Task Alert v2 \u2014 8AM Daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * *"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every Day 8AM CDT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "obsidian-vault",
        "fileKey": "10_Active Projects/Active Personal/!!! MASTER TASK LIST.md"
      },
      "id": "s3-read-mtl",
      "name": "S3: Read MTL",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bin = $input.first().binary?.data;\nif (!bin) return [{ json: { overdue: [], count: 0, today: new Date().toISOString().split('T')[0], areas_with_overdue: [] } }];\nconst content = Buffer.from(bin.data, 'base64').toString('utf-8');\nconst today = new Date().toISOString().split('T')[0];\n\nconst overdue = [];\nconst re = /^- \\[ \\] (.+?)\\[area:: (\\w+)\\].*?\\[priority:: ([ABC])\\](?:.*?\\[due:: (\\d{4}-\\d{2}-\\d{2})\\])?/gm;\nlet m;\nwhile ((m = re.exec(content)) !== null) {\n  const [, desc, area, priority, due] = m;\n  if (!due) continue;\n  if (due < today) {\n    const daysOverdue = Math.floor((new Date(today) - new Date(due)) / 86400000);\n    overdue.push({ task: desc.trim(), area, priority, due, daysOverdue,\n      urgency: daysOverdue >= 8 ? 'critical' : daysOverdue >= 4 ? 'high' : 'medium' });\n  }\n}\n\n// Sort by days overdue descending (most overdue first)\noverdue.sort((a, b) => b.daysOverdue - a.daysOverdue);\n\nconst areas_with_overdue = [...new Set(overdue.map(t => t.area))];\nreturn [{ json: { overdue, count: overdue.length, today, areas_with_overdue } }];"
      },
      "id": "find-overdue",
      "name": "Find Overdue Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-overdue",
      "name": "Any Overdue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const { overdue, count, today } = $input.first().json;\n\nif (count === 0) {\n  const html = `<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;background:#f5f5f5;padding:20px\">\n    <div style=\"background:#16a34a;color:white;padding:20px;border-radius:8px;text-align:center\">\n      <h1 style=\"margin:0;font-size:22px\">&#10003; No Overdue Tasks</h1>\n      <p style=\"margin:5px 0 0;opacity:0.8\">${today} \u2014 All caught up!</p>\n    </div>\n  </div>`;\n  return [{ json: { html, subject: `Overdue Alert: 0 overdue tasks \u2014 ${today}`, count, today } }];\n}\n\nfunction urgencyBadge(days, urgency) {\n  if (urgency === 'critical') return `<span style=\"background:#dc2626;color:white;padding:2px 6px;border-radius:3px;font-size:11px;font-weight:bold\">${days} days overdue</span>`;\n  if (urgency === 'high')     return `<span style=\"background:#ea580c;color:white;padding:2px 6px;border-radius:3px;font-size:11px\">${days} days overdue</span>`;\n  return                              `<span style=\"background:#d97706;color:white;padding:2px 6px;border-radius:3px;font-size:11px\">${days} days overdue</span>`;\n}\n\nfunction priorityBadge(p) {\n  const colors = { A: '#7c3aed', B: '#0284c7', C: '#6b7280' };\n  return `<span style=\"background:${colors[p]||'#6b7280'};color:white;padding:1px 5px;border-radius:2px;font-size:10px;font-weight:bold\">${p}</span>`;\n}\n\nconst byArea = {};\nfor (const t of overdue) {\n  if (!byArea[t.area]) byArea[t.area] = [];\n  byArea[t.area].push(t);\n}\n\nlet taskRows = '';\nfor (const [area, tasks] of Object.entries(byArea)) {\n  taskRows += `<tr><td colspan=\"3\" style=\"padding:10px 12px 4px;font-weight:bold;text-transform:capitalize;font-size:14px;color:#1a1a2e;border-top:2px solid #e5e7eb\">${area}</td></tr>`;\n  for (const t of tasks) {\n    const rowBg = t.urgency === 'critical' ? '#fff1f2' : t.urgency === 'high' ? '#fff7ed' : '#fffbeb';\n    taskRows += `<tr style=\"background:${rowBg}\">\n      <td style=\"padding:8px 12px;width:30px\">${priorityBadge(t.priority)}</td>\n      <td style=\"padding:8px 12px;font-size:13px\">${t.task}<br><span style=\"font-size:11px;color:#6b7280\">Due: ${t.due}</span></td>\n      <td style=\"padding:8px 12px;text-align:right;white-space:nowrap\">${urgencyBadge(t.daysOverdue, t.urgency)}</td>\n    </tr>`;\n  }\n}\n\nconst critCount = overdue.filter(t => t.urgency === 'critical').length;\nconst highCount = overdue.filter(t => t.urgency === 'high').length;\nconst medCount  = overdue.filter(t => t.urgency === 'medium').length;\nconst headerColor = critCount > 0 ? '#dc2626' : highCount > 0 ? '#ea580c' : '#d97706';\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;background:#f5f5f5;padding:20px\">\n  <div style=\"background:#1a1a2e;color:white;padding:20px;border-radius:8px 8px 0 0\">\n    <h1 style=\"margin:0;font-size:22px\">&#9888;&#65039; Overdue Task Alert</h1>\n    <p style=\"margin:5px 0 0;opacity:0.8\">${today}</p>\n  </div>\n  <div style=\"background:${headerColor};color:white;padding:12px 20px;margin:2px 0;text-align:center\">\n    <span style=\"font-size:28px;font-weight:bold\">${count}</span>\n    <span style=\"margin-left:10px;font-size:16px\">tasks overdue</span>\n    <div style=\"margin-top:6px;font-size:12px;opacity:0.9\">\n      ${critCount > 0 ? `<span style=\"background:rgba(0,0,0,0.2);padding:2px 8px;border-radius:3px;margin:2px\">${critCount} critical (8+ days)</span>` : ''}\n      ${highCount > 0 ? `<span style=\"background:rgba(0,0,0,0.2);padding:2px 8px;border-radius:3px;margin:2px\">${highCount} high (4-7 days)</span>` : ''}\n      ${medCount  > 0 ? `<span style=\"background:rgba(0,0,0,0.2);padding:2px 8px;border-radius:3px;margin:2px\">${medCount} medium (1-3 days)</span>` : ''}\n    </div>\n  </div>\n  <div style=\"background:white;padding:4px 0;margin:2px 0\">\n    <table style=\"width:100%;border-collapse:collapse\"><tbody>${taskRows}</tbody></table>\n  </div>\n  <div style=\"background:#374151;color:white;padding:12px 20px;border-radius:0 0 8px 8px;text-align:center;font-size:11px\">\n    Life OS Overdue Alert &middot; ${today} &middot; ObsidianHomeOrchestrator\n  </div>\n</div>`.trim();\n\nreturn [{ json: { html, subject: `Overdue Alert: ${count} tasks (${critCount} critical) \u2014 ${today}`, count, today } }];"
      },
      "id": "format-email",
      "name": "Format Alert Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "__NOTIFICATION_EMAIL__",
        "toEmail": "__NOTIFICATION_EMAIL__",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "emailFormat": "html"
        }
      },
      "id": "email",
      "name": "Email: Overdue Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "__SMTP_CRED_ID__",
          "name": "Gmail SMTP (Aaron)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { count, today, areas_with_overdue } = $input.first().json;\nconst log = JSON.stringify({\n  workflow: 'overdue-task-alert-v2',\n  run_date: today,\n  status: 'success',\n  overdue_count: count,\n  areas_with_overdue: areas_with_overdue || [],\n  generated_at: new Date().toISOString()\n}, null, 2);\nreturn [{ json: { logKey: `99_System/logs/overdue-task-alert-${today}.json`, logContent: log } }];"
      },
      "id": "build-log",
      "name": "Build Run Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "={{ $json.logKey }}",
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "id": "s3-log",
      "name": "S3: Write Log",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1980,
        200
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $json.logContent;\nconst key = $json.logKey;\nconst buf = Buffer.from(content, \"utf-8\");\nreturn [{ json: $json, binary: { data: { data: buf.toString(\"base64\"), mimeType: \"application/json\", fileName: key.split(\"/\").pop(), fileExtension: \"json\", fileSize: buf.length } } }];"
      },
      "id": "convert-log-binary",
      "name": "Convert Log to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        200
      ]
    }
  ],
  "connections": {
    "Every Day 8AM CDT": {
      "main": [
        [
          {
            "node": "S3: Read MTL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Read MTL": {
      "main": [
        [
          {
            "node": "Find Overdue Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Overdue Tasks": {
      "main": [
        [
          {
            "node": "Any Overdue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Overdue?": {
      "main": [
        [
          {
            "node": "Format Alert Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Alert Email": {
      "main": [
        [
          {
            "node": "Email: Overdue Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Overdue Alert": {
      "main": [
        [
          {
            "node": "Build Run Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Run Log": {
      "main": [
        [
          {
            "node": "Convert Log to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Log to Binary": {
      "main": [
        [
          {
            "node": "S3: Write Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  }
}