workflows/n8n/weekly-digest-v2.json
{
  "name": "\ud83d\udcca Weekly Needle Mover Digest v2 \u2014 Sunday 6PM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 23 * * 0"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Sunday 6PM CDT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "obsidian-vault",
        "fileKey": "000_Master Dashboard/North Star.md"
      },
      "id": "s3-north-star",
      "name": "S3: Read North Star",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "obsidian-vault",
        "fileKey": "10_Active Projects/Active Personal/!!! MASTER TASK LIST.md"
      },
      "id": "s3-mtl",
      "name": "S3: Read MTL",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        440,
        400
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toISOString().split('T')[0];\nconst todayDate = new Date();\nconst nextWeek = new Date(Date.now() + 7*86400000).toISOString().split('T')[0];\n\n// Calculate week-of string (Monday of current week)\nconst dayOfWeek = todayDate.getDay();\nconst daysToMonday = dayOfWeek === 0 ? 6 : dayOfWeek - 1;\nconst monday = new Date(todayDate.getTime() - daysToMonday * 86400000);\nconst weekOf = monday.toISOString().split('T')[0];\n\nlet mtl = '';\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  mtl = buf.toString('utf-8');\n} catch(e) {}\n\nconst areas = ['faith','family','business','consulting','work','health','home','personal'];\nconst stats = {};\nfor (const a of areas) stats[a] = { total: 0, completed: 0, overdue: 0, dueThisWeek: 0, noDue: 0, priorityA: 0 };\n\n// Parse open tasks \u2014 single-escape regex per canonical pattern\nconst openRe = /^- \\[ \\] (.+?)\\[area:: (\\w+)\\].*?\\[priority:: ([ABC])\\](?:.*?\\[due:: (\\d{4}-\\d{2}-\\d{2})\\])?/gm;\nlet m;\nwhile ((m = openRe.exec(mtl)) !== null) {\n  const [, desc, area, priority, due] = m;\n  if (!stats[area]) continue;\n  stats[area].total++;\n  if (priority === 'A') stats[area].priorityA++;\n  if (!due) {\n    stats[area].noDue++;\n  } else {\n    if (due < today) stats[area].overdue++;\n    if (due >= today && due <= nextWeek) stats[area].dueThisWeek++;\n  }\n}\n\n// Parse completed tasks\nconst doneRe = /^- \\[x\\] (.+?)\\[area:: (\\w+)\\]/gm;\nwhile ((m = doneRe.exec(mtl)) !== null) {\n  const [, , area] = m;\n  if (stats[area]) stats[area].completed++;\n}\n\n// Week Health Score\nconst totalOverdue = areas.reduce((s, a) => s + stats[a].overdue, 0);\nconst totalNoDue   = areas.reduce((s, a) => s + stats[a].noDue, 0);\nconst overdueP     = Math.min(5, totalOverdue);\nconst noDueScore   = totalNoDue === 0 ? 10 : Math.max(0, 10 - Math.min(10, totalNoDue));\nconst healthScore  = Math.max(0, noDueScore - overdueP);\nconst scoreColor   = healthScore >= 8 ? '#16a34a' : healthScore >= 5 ? '#d97706' : '#dc2626';\n\n// Q2 Rock progress (hardcoded values)\nconst q2Rocks = [\n  { area: 'faith',    label: 'Launch social media Bible study (4 sessions)', pct: 35, color: '#7c3aed' },\n  { area: 'family',   label: 'Marriage Alignment Questionnaire + bi-weekly check-in', pct: 0, color: '#db2777' },\n  { area: 'business', label: 'Ship MVP \u2014 website, offer, 3 outreach (Echelon Seven)', pct: 25, color: '#0284c7' },\n  { area: 'work',     label: 'Deliver Union project + position for exit', pct: 0, color: '#0891b2' },\n  { area: 'health',   label: 'Hip decision + 3x/week gym for 8 weeks', pct: 0, color: '#16a34a' },\n];\n\nfunction areaRowColor(overdue) {\n  if (overdue === 0) return '#f0fdf4';\n  if (overdue <= 2) return '#fffbeb';\n  return '#fef2f2';\n}\nfunction areaRowBorder(overdue) {\n  if (overdue === 0) return '#86efac';\n  if (overdue <= 2) return '#fcd34d';\n  return '#fca5a5';\n}\n\n// Focus: top 3 Priority A tasks with no due date\nconst undatedRocks = [];\nconst allARe = /^- \\[ \\] (.+?)\\[area:: (\\w+)\\].*?\\[priority:: ([ABC])\\](?:.*?\\[due:: (\\d{4}-\\d{2}-\\d{2})\\])?/gm;\nwhile ((m = allARe.exec(mtl)) !== null) {\n  const [, desc, area, priority, due] = m;\n  if (priority === 'A' && !due && undatedRocks.length < 3) {\n    undatedRocks.push({ desc: desc.trim(), area });\n  }\n}\n\nlet areaRows = '';\nfor (const area of areas) {\n  const s = stats[area];\n  if (s.total + s.completed === 0) continue;\n  const bg = areaRowColor(s.overdue);\n  const bdr = areaRowBorder(s.overdue);\n  const overdueBadge = s.overdue > 0\n    ? `<span style=\"background:${s.overdue >= 3 ? '#dc2626' : '#f59e0b'};color:white;padding:1px 6px;border-radius:3px;font-size:11px\">${s.overdue} overdue</span>`\n    : `<span style=\"color:#16a34a;font-size:12px\">\u2713 none</span>`;\n  areaRows += `<tr style=\"background:${bg};border-left:4px solid ${bdr}\">\n    <td style=\"padding:8px 12px;font-weight:bold;text-transform:capitalize\">${area}</td>\n    <td style=\"padding:8px;text-align:center\">${s.total}</td>\n    <td style=\"padding:8px;text-align:center;color:#16a34a\">${s.completed}</td>\n    <td style=\"padding:8px;text-align:center\">${s.priorityA}</td>\n    <td style=\"padding:8px;text-align:center\">${s.dueThisWeek}</td>\n    <td style=\"padding:8px;text-align:center\">${overdueBadge}</td>\n  </tr>`;\n}\n\nlet rockRows = '';\nfor (const r of q2Rocks) {\n  const pctLabel = r.pct === 0 ? 'Not started' : `${r.pct}%`;\n  const barFill = r.pct > 0 ? `<div style=\"background:${r.color};height:8px;border-radius:4px;width:${r.pct}%\"></div>` : '';\n  rockRows += `<tr>\n    <td style=\"padding:10px 12px;font-weight:bold;text-transform:capitalize;color:${r.color}\">${r.area}</td>\n    <td style=\"padding:10px 12px\">${r.label}</td>\n    <td style=\"padding:10px 12px;min-width:120px\">\n      <div style=\"background:#e5e7eb;border-radius:4px;height:8px;margin-bottom:4px\">${barFill}</div>\n      <span style=\"font-size:11px;color:#6b7280\">${pctLabel}</span>\n    </td>\n  </tr>`;\n}\n\nlet focusRows = '';\nif (undatedRocks.length === 0) {\n  focusRows = '<tr><td colspan=\"3\" style=\"padding:12px;color:#16a34a\">All Priority A tasks have due dates scheduled. Nice work!</td></tr>';\n} else {\n  for (const r of undatedRocks) {\n    focusRows += `<tr>\n      <td style=\"padding:8px 12px;text-transform:capitalize;color:#7c3aed;font-weight:bold\">${r.area}</td>\n      <td style=\"padding:8px 12px\">${r.desc}</td>\n      <td style=\"padding:8px 12px\"><span style=\"background:#f3f4f6;color:#6b7280;padding:2px 8px;border-radius:3px;font-size:11px\">needs date</span></td>\n    </tr>`;\n  }\n}\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;background:#f5f5f5;padding:20px\">\n  <div style=\"background:#1a1a2e;color:white;padding:20px;border-radius:8px 8px 0 0\">\n    <h1 style=\"margin:0;font-size:22px\">&#128202; Weekly Life OS Review</h1>\n    <p style=\"margin:5px 0 0;opacity:0.8\">Week of ${weekOf} &middot; Generated ${today}</p>\n  </div>\n  <div style=\"background:${scoreColor};color:white;padding:12px 20px;margin:2px 0;text-align:center\">\n    <span style=\"font-size:28px;font-weight:bold\">${healthScore}/10</span>\n    <span style=\"margin-left:12px;opacity:0.9;font-size:16px\">Weekly Health Score</span>\n    <div style=\"margin-top:4px;font-size:12px;opacity:0.8\">${totalOverdue} overdue &middot; ${totalNoDue} undated open tasks</div>\n  </div>\n  <div style=\"background:white;padding:20px;margin:2px 0\">\n    <h2 style=\"margin:0 0 12px;font-size:16px;color:#1a1a2e\">&#128202; Area Health Summary</h2>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px\">\n      <thead><tr style=\"background:#1a1a2e;color:white\">\n        <th style=\"padding:8px 12px;text-align:left\">Area</th>\n        <th style=\"padding:8px;text-align:center\">Open</th>\n        <th style=\"padding:8px;text-align:center\">Done</th>\n        <th style=\"padding:8px;text-align:center\">A</th>\n        <th style=\"padding:8px;text-align:center\">Due 7d</th>\n        <th style=\"padding:8px;text-align:center\">Overdue</th>\n      </tr></thead>\n      <tbody>${areaRows}</tbody>\n    </table>\n    <p style=\"margin:8px 0 0;font-size:11px;color:#9ca3af\">Green = no overdue &middot; Amber = 1-2 overdue &middot; Red = 3+ overdue</p>\n  </div>\n  <div style=\"background:white;padding:20px;margin:2px 0\">\n    <h2 style=\"margin:0 0 12px;font-size:16px;color:#1a1a2e\">&#127873; Q2 2026 Rock Progress</h2>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px\"><tbody>${rockRows}</tbody></table>\n  </div>\n  <div style=\"background:white;padding:20px;margin:2px 0\">\n    <h2 style=\"margin:0 0 8px;font-size:16px;color:#1a1a2e\">&#127919; Focus for Next Week \u2014 Undated Priority A Rocks</h2>\n    <p style=\"margin:0 0 12px;font-size:12px;color:#6b7280\">These Priority A tasks have no due date. Schedule them this week.</p>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px\"><tbody>${focusRows}</tbody></table>\n  </div>\n  <div style=\"background:#374151;color:white;padding:12px 20px;border-radius:0 0 8px 8px;text-align:center;font-size:11px\">\n    Life OS Weekly Review &middot; ${today} &middot; ObsidianHomeOrchestrator\n  </div>\n</div>`.trim();\n\nreturn [{ json: { html, subject: `Weekly Life OS Review \u2014 Week of ${weekOf}`, today, weekOf } }];"
      },
      "id": "build-digest",
      "name": "Build Weekly Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        770,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "__NOTIFICATION_EMAIL__",
        "toEmail": "__NOTIFICATION_EMAIL__",
        "subject": "=\ud83d\udcca Weekly Life OS Review \u2014 Week of {{ $json.weekOf }}",
        "html": "={{ $json.html }}",
        "text": "=Weekly Life OS Review for week of {{ $json.weekOf }} (generated {{ $json.today }}). See HTML view for area health summary, Q2 rock progress, and undated Priority A focus rocks.",
        "options": {
          "emailFormat": "both"
        }
      },
      "id": "email",
      "name": "Email: Weekly Digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        990,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "__SMTP_CRED_ID__",
          "name": "Gmail SMTP (Aaron)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "obsidian-vault",
        "fileName": "={{ $json.logKey }}",
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "id": "s3-log",
      "name": "S3: Write Log",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1650,
        300
      ],
      "credentials": {
        "s3": {
          "id": "__MINIO_CRED_ID__",
          "name": "MinIO S3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toISOString().split('T')[0];\nconst log = JSON.stringify({\n  workflow: 'weekly-digest-v2',\n  run_date: today,\n  status: 'success',\n  generated_at: new Date().toISOString()\n}, null, 2);\nreturn [{ json: { logKey: `99_System/logs/weekly-digest-${today}.json`, logContent: log } }];"
      },
      "id": "build-log",
      "name": "Build Run Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1210,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const content = $json.logContent;\nconst key = $json.logKey;\nconst buf = Buffer.from(content, 'utf-8');\nreturn [{ json: $json, binary: { data: { data: buf.toString('base64'), mimeType: 'application/json', fileName: key.split('/').pop(), fileExtension: 'json', fileSize: buf.length } } }];"
      },
      "id": "convert-log-binary",
      "name": "Convert Log to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1430,
        300
      ]
    }
  ],
  "connections": {
    "Sunday 6PM CDT": {
      "main": [
        [
          {
            "node": "S3: Read North Star",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Read North Star": {
      "main": [
        [
          {
            "node": "S3: Read MTL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3: Read MTL": {
      "main": [
        [
          {
            "node": "Build Weekly Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Weekly Digest": {
      "main": [
        [
          {
            "node": "Email: Weekly Digest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Run Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Run Log": {
      "main": [
        [
          {
            "node": "Convert Log to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Log to Binary": {
      "main": [
        [
          {
            "node": "S3: Write Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "jIOFmhr37mXEhlHz"
  }
}
